.MuiTypography-h6,
.MuiTypography-body1,
.MuiButton-label {
  font-family: "Inter", sans-serif !important;
}

.MuiTypography-h6 {
  color: #333 !important;
  font-weight: 600 !important;
  text-align: center;
}

.MuiTypography-body1 {
  color: #999 !important;
  font-weight: 500 !important;
}

.MuiButton-label {
  color: #0071bc !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
}

.MuiDialogActions-root {
  justify-content: center !important;
  align-items: inherit !important;
}

.MuiButton-textPrimary {
  width: 50%;
}
