.deliveryError_wrapper {
  background: #fff6eb;
  padding: 20px 15px;
}
.errorPrompt_wrap {
  display: flex;
  background: #ffc37d;
  border-radius: 4px;
  padding: 10px 10px;
  gap: 8px;
  margin-bottom: 15px;
}

.errorPrompt_text {
  font-size: 12px;
  font-weight: 500;
  color: #4f585e;
}

.errorPrompt_img {
}

.deliveryError_textwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deliveryError_innerWrap {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.deliveryError_textTitle {
  color: #4f585e;
  font-weight: 700;
  font-size: 10px;
  opacity: 0.7;
}

.deliveryError_pincode_text {
  color: #4f585e;
  font-weight: 700;
  font-size: 12px;
}

.deliveryError_text_cta {
  color: #4f585e;
  font-weight: 700;
  font-size: 10px;
  color: #0071bd;
  cursor: pointer;
}
