.cartMainContainer {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cartMainContainer {
    margin-top: 16px;
  }
}

.cartMainContainer p {
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  padding: 0px 10px 5px 10px;
  color: #40464d;
}

.cartDoctorsImg {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.cartDoctorsImg img {
  width: 98%;
}

.cartDetailsMainContainer {
  /* height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden; */
  margin-bottom: 15px;
  padding: 0px 0px;
}

.cartDetailsMainContainer::-webkit-scrollbar {
  display: none;
}

.cartButtonsMainContainer {
  display: flex;
  background-color: #fff;
  padding: 10px;
  gap: 20px;
}

.cartSubRecommendationImg {
  position: absolute;
  top: 15px;
  left: -15px;
}

.cartSubRecommendationImgText {
  position: absolute;
  top: 20px;
  font-weight: 500;
  font-size: 12px;
  color: #003055;
}

.cartSubsMainContainer {
  padding: 5px 1rem;
  position: relative;
  margin-top: 5px;
  background: #edf6f3;
  border-radius: 5px;
}

.cartSubsMainContainer .MuiSvgIcon-root {
  color: #0071bc;
}

.cartSubsMainContainer .MuiPaper-elevation1 {
  box-shadow: none;
}

.cartSubsMainContainer .MuiAccordion-root {
  position: initial;
}

.cartSubsMainContainer .MuiAccordion-root:before {
  background-color: transparent;
}

.cartSubsMainContainer .MuiAccordionSummary-root.Mui-expanded {
  min-height: 0px;
}

.cartSubsMainContainer .MuiAccordionDetails-root {
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.cartSubsMainContainer .MuiAccordion-root.Mui-expanded {
  margin: 0px;
}

.cartSubsFirstContainer {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
}

.cartSubsImgNew {
  margin: auto 0;
}

.cartSubsNameContainerNew {
  display: flex;
  flex-direction: column;
  width: 25vw;
  overflow: hidden;
  white-space: nowrap;
}

.cartSubsmedName {
  font-weight: 600;
  font-size: 16px;
  /* font-family: "Century Gothic", sans-serif; */
  color: #333;
}

.cartSubsCompanyName {
  font-weight: 400;
  font-size: 16px;
  /* font-family: "Century Gothic", sans-serif; */
  color: #999;
}

.cartSubsMrp {
  font-weight: 400;
  color: #333;
  font-size: 12px;
  /* font-family: "Century Gothic", sans-serif; */
}

.cartSubsMrp del {
  /* font-family: "Century Gothic", sans-serif; */
}

.cartSubsRibbonDiscountContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 4px;
}

.cartSubsRibbonDiscountContainer img {
  width: 78px;
}

.cartSubsDiscount {
  font-weight: 600;
  color: #333;
  font-size: 10px;
  /* font-family: "Century Gothic", sans-serif; */
  position: absolute;
  margin-left: 5px;
  color: #fff;
}

.cartSubMrpContainer {
  display: flex;
  flex-direction: column;
}

.cartItemsAddedLoader {
  width: 25%;
  /* height: 25px; */
  /* border-radius: 4px; */
}

.cartImageLoader {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.cartSubsRecommendation {
  display: flex;
  color: #fff;
  border-top: 45px solid #41a45c;
  border-right: 20px solid transparent;
  position: absolute;
  left: 0;
  width: 60%;
  top: 6px;
}

.cartSubsImgWrap {
  display: flex;
  align-items: center;
}
.cartSubsRecommendation__wrap {
  position: absolute;
  top: -44px;
  z-index: 1;
  display: flex;
  font-size: 12px;
  font-family: "Inter";
  padding: 4px 15px;
  gap: 10px;
}

.savingsSubs {
  font-weight: 700;
}

.savingsSubsTitle {
  font-weight: 300;
}
.cartSubMedCardWrap {
  padding-left: 20px;
}

.savingModalWrap {
  background: #41a45c;
  text-align: center;
  padding: 20px 20px 40px 20px;
  color: #fff;
}

.logoWrap img {
  width: 85px;
}

.savings-rectangle {
  width: 20%;
  border-radius: 6px !important;
  position: relative;
  background-color: #41a45c !important;
}

.savingModalWrapTitle {
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
  font-family: "Inter";
}

.savingModalWrapSubTitle {
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
}

.savingModalWrapPrice {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter";
  margin-top: 10px;
  margin-bottom: 5px;
}

.closeBtn {
  font-size: 24px;
  position: absolute;
  top: 2px;
  right: 8px;
  cursor: pointer;
}

/* @media screen and (max-width: 1200px) {

} */

@media screen and (max-width: 768px) {
  .cartSubMedCardWrap {
    padding-left: 20px;
  }
  .cartMainContainer p {
    font-size: 16px;
  }
  .cartDoctorsImg img {
    width: 96%;
  }
  .cartButtonsMainContainer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    padding: 5px;
  }
  .cartDetailsMainContainer {
    /* height: fit-content;
    max-height: 40vh; */
    padding: 0px 1.5rem;
  }
  .cartSubsMainContainer {
    padding: 4px;
  }
  /* .cartItemsAddedLoader {
    margin: 0px 10px 5px 10px;
  } */
  .cartSubsRecommendation {
    display: flex;
    color: #fff;
    border-top: 45px solid #41a45c;
    border-right: 10px solid transparent;
    position: absolute;
    left: 0;
    width: 85%;
    top: 6px;
  }
  .cartSubsRecommendation__wrap {
    position: absolute;
    top: -44px;
    z-index: 1;
    display: flex;
    font-size: 12px;
    font-family: "Inter";
    padding: 4px 0px 4px 10px;
    grid-gap: 10px;
    gap: 7px;
  }
}

@media screen and (max-width: 480px) {
  .featureMedSection {
    padding: 0px 15px;
    padding-bottom: 15px;
  }

  .savings-rectangle {
    width: 70%;
  }

  .cartSubMedCardWrap {
    padding-left: 25px;
  }
  .cartMainContainer p {
    font-size: 16px;
  }
  .cartDoctorsImg {
    display: none;
  }
  .cartSubsFirstContainer {
    gap: 1rem;
  }
  .cartButtonsMainContainer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    padding: 5px 1rem;
    gap: 10px;
  }
  .cartSubsMainContainer .MuiPaper-root.MuiAccordion-root.MuiPaper-elevation1 {
    padding-bottom: 10px !important;
  }

  .cartSubsMainContainer
    .MuiPaper-root.MuiAccordion-root.Mui-expanded.MuiPaper-elevation1 {
    padding-bottom: 0px !important;
  }
  .cartDetailsMainContainer {
    padding: 0px;
    margin-bottom: 0px;
  }
  .cartSubsImgNew {
    width: 20px;
  }
  .cartSubsNameContainerNew {
    display: flex;
    flex-direction: column;
    width: 65vw;
  }
  .cartSubsmedName {
    font-size: 14px;
  }
  .cartSubsCompanyName {
    font-size: 14px;
  }
  .cartSubsMrp {
    font-size: 10px;
  }
  .cartSubsRibbonDiscountContainer {
    margin-left: 0.5rem;
  }
  .cartSubsRibbonDiscountContainer img {
    width: 65px;
  }
  .cartSubsDiscount {
    font-size: 8px;
    margin-left: 4px;
  }
  .cartSubsMainContainer {
    padding: 0px 5px;
  }
  .cartSubRecommendationImg {
    width: 258px;
    top: 11px;
    left: -13px;
  }

  .cartSubRecommendationImgText {
    top: 14px;
    font-size: 10px;
  }

  .cartSubsMainContainer .MuiAccordionDetails-root {
    flex-direction: column;
    padding: 5px 1rem;
    align-items: flex-start;
    justify-content: center;
  }
  .cartSubMrpContainer {
    flex-direction: row;
    gap: 0.5rem;
    margin: 1rem 0px 0.5rem 2.5rem;
  }
  /* .cartItemsAddedLoader {
    margin: 0px 10px 5px 10px;
  } */
  .cartSubsRecommendation {
    display: flex;
    color: #fff;
    border-top: 45px solid #41a45c;
    border-right: 10px solid transparent;
    position: absolute;
    left: 0;
    width: 85%;
    top: 6px;
  }
  .cartSubsRecommendation__wrap {
    position: absolute;
    top: -44px;
    z-index: 1;
    display: flex;
    font-size: 12px;
    font-family: "Inter";
    padding: 4px 0px 4px 10px;
    grid-gap: 10px;
    gap: 7px;
  }
  .orderFlowFirstContainer {
    max-width: 100%;
  }
}
