.transaction-list-shimmer-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.transaction-item-shimmer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
}

.first-row-shimmer {
  width: 45%;
  max-width: 45%;
}
.second-row-shimmer {
  width: 23%;
  max-width: 23%;
}
.third-row-shimmer {
  width: 23%;
  max-width: 23%;
}

.row-shimmer-line {
  width: 100%;
  height: 15px;
  border-radius: 5px;
}

@media screen and (max-width: 968px) {
  .transaction-list-shimmer-container {
    width: 100%;
  }
  .transaction-item-shimmer-container {
    width: 100%;
  }
}

@media screen and (max-width: 868px) {
  .transaction-list-shimmer-container {
    width: 100%;
  }
  .transaction-item-shimmer-container {
    width: 100%;
  }
}
@media screen and (max-width: 668px) {
  .transaction-list-shimmer-container {
    width: 100%;
  }
  .transaction-item-shimmer-container {
    width: 100%;
  }
}
