.medCardMainContainerNew {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.medCardMedImgNew {
  margin: auto 0;
  width: 15%;
  height: 50px;
  object-fit: contain;
}

.medCardContainerNew {
  display: flex;
  flex-direction: column;
}
.medCardContainerNewMobile {
  width: 40%;
}

.medCardMedNameContainerNew {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.medCardMedNameContainerNewWoImg {
  display: flex;
  flex-direction: column;
}

.medicineCardmedName {
  font-weight: 600;
  font-size: 16px;
  /* font-family: "Century Gothic", sans-serif; */
  color: #333;
}

.rxRequiredContainer {
  display: flex;
  align-items: center;
}

.rxRequiredContainer img {
  margin-right: 5px;
  width: 16px;
}

.rxRequiredContainer span {
  color: #0071bc;
  font-weight: 500;
  font-size: 14px;
}

.medCardRemoveContainer {
  margin: auto 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.medCardRemoveContainer img {
  margin-right: 5px;
  width: 20px;
}

.medCardRemoveContainer span {
  color: #dd2200;
  font-weight: 600;
  font-size: 14px;
}

.medCardQuantityContainer {
  margin: auto 0;
  display: flex;
  align-items: center;
}

.medCardQuantityContainer span {
  font-weight: 600;
  font-size: 16px;
  /* font-family: "Century Gothic", sans-serif; */
  color: #333;
}

.medCardQuantityContainer span:first-child {
  cursor: pointer;
}

.medCardQuantityContainer span:last-child {
  cursor: pointer;
}

.medCardQuantityContainer i {
  cursor: pointer;
}

.medCardQuantityContainer i:first-child {
  margin-right: 10px;
}

.medCardQuantityContainer i:last-child {
  margin-left: 10px;
}

.medCardQuantityContainer .ant-select {
  width: 80px !important;
}

.medCardQuantityContainer
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #999 !important;
}

.medCardQuantityContainer
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #0071bc !important;
  box-shadow: 0 0 0 2px rgb(0 113 188 / 20%) !important;
}

.medCardQuantityContainer
  .ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
.medCardQuantityContainer
  .ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  font-weight: 700 !important;
  font-size: 16px !important;
  font-family: "Inter", sans-serif !important;
  color: #333 !important;
}

.medicineCardInfoContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.medicineCardInfoInsideContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.medicineCardInfoInsideContainer img {
  width: 15px;
  cursor: pointer;
}

.medicineCardInfoInsideContainer .medCardToolTipText {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #e5f1f8;
  color: #333;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 140%;
}

.medCardToolTipText img {
  width: 10px;
  cursor: pointer;
  margin: 2px 2px 2px auto;
}

/* .medicineCardInfoInsideContainer .medCardToolTipText::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #e5f1f8 transparent transparent;
  } */

.medCardCompanyName,
.medicineCardPackSize,
.medicineCardOrigin {
  font-weight: 500;
  font-size: 16px;
  color: #999;
  margin: 2px 0px;
}

.medCardMrp {
  font-weight: 400;
  color: #333;
  font-size: 12px;
  /* font-family: "Century Gothic", sans-serif; */
}

.medCardMrp del {
  /* font-family: "Century Gothic", sans-serif; */
}

.ribbonDiscountContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 5px;
}

.ribbonDiscountContainer img {
  width: 76px;
}

.medCardDiscount {
  font-weight: 600;
  font-size: 10px;
  /* font-family: "Century Gothic", sans-serif; */
  position: absolute;
  margin-left: 2px;
  color: #fff;
}

.medCardInclusive {
  font-weight: 400;
  font-size: 10px;
  color: #999;
}

.medCardFirstContainer {
  width: 70%;
  cursor: pointer;
}

.medcardMedImgContainer {
  display: flex;
  gap: 1.5rem;
  width: 60%;
}

.medCardFirstContainer,
.medCardSecondContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.medCardErrorMsg {
  color: #dd2200;
  font-weight: 600;
}

.medicineCardMedPrice {
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .medicineCardmedName {
    font-size: 14px;
  }

  .rxRequiredContainer span {
    font-size: 12px;
  }

  .medCardQuantityContainer span {
    font-size: 14px;
  }

  .medCardCompanyName,
  .medicineCardPackSize,
  .medicineCardOrigin {
    font-size: 14px;
  }

  .medCardMrp {
    font-size: 10px;
  }

  .ribbonDiscountContainer {
    margin-left: 0.5rem;
  }

  .ribbonDiscountContainer img {
    width: 62px;
  }

  .medCardDiscount {
    font-size: 8px;
    margin-left: 2px;
  }

  .medCardInclusive {
    font-size: 8px;
  }

  .medCardMainContainerNew {
    flex-direction: column;
  }

  .medCardFirstContainer {
    width: 100%;
    justify-content: space-between;
  }

  .medCardFirstContainer,
  .medCardSecondContainer {
    gap: 1rem;
  }

  .medcardMedImgContainer {
    gap: 1rem;
    width: auto;
  }

  .medCardSecondContainer {
    justify-content: space-between;
    margin-top: 10px;
    /* margin-left: 2.5rem; */
    flex-direction: row-reverse;
  }

  .medCardContainerNew {
    display: none;
  }

  .medCardContainerNewMobile {
    display: flex;
    width: auto;
    flex-direction: column;
  }

  .medCardQuantityContainer
    .ant-select-single.ant-select-show-arrow
    .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    font-size: 14px !important;
  }

  .medicineCardInfoInsideContainer .medCardToolTipText {
    width: 120px;
    top: -30px;
  }

  .medCardToolTipText img {
    width: 8px;
  }
}
