@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://www.w3schools.com/w3css/4/w3.css");
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
/* @font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic"),
    url(./Fonts/CenturyGothic.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Century Gothic Bold";
  src: local("Century Gothic Bold"),
    url(./Fonts/GOTHICB0.TTF) format("truetype");
  font-display: swap;
} */

* {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Inter", sans-serif;
  height: 100%;
}

@media screen and (max-width: 468px) {
  body {
    height: 100vh;
  }
}

input:hover,
input:active,
input:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
}

::-webkit-scrollbar-track {
  background-color: #a0a0a0;
}

.btn:active,
.btn:focus,
.btn.active {
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.error {
  color: #e74c3c;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ant-message {
  z-index: 1100000000000 !important;
}

/* Added to remove shadow and border overall */
.MuiPaper-elevation1 {
  border: none !important;
  box-shadow: none !important;
}

.MuiAccordionSummary-root {
  padding: 0 5px !important;
}

.MuiAccordion-root:before {
  background-color: transparent !important;
}

.MuiLinearProgress-barColorPrimary {
  background: linear-gradient(90deg, #0071bc 3.86%, #6ec1fd 85.64%);
}

.MuiBadge-colorPrimary {
  background-color: #0071bc !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0071bc;
  font-weight: 500;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: 500;
  color: #0071bc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-weight: 500;
  color: #0071bc;
}

.MuiFormHelperText-root {
  margin: 5px !important;
}

a {
  text-decoration: none;
}
