.reusableCouponCardContainer {
  padding: 16px 14px;
}

.reusableCouponCard,
.reusableCouponCardApplied {
  border: 2px solid #93edac;
  background-color: #f7fff9;
  border-radius: 4px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reusableCouponCard {
  cursor: pointer;
}

.reusableCouponCard div,
.reusableCouponCardApplied div {
  display: flex;
  align-items: center;
}

.reusableCouponCard div img,
.reusableCouponCardApplied div img {
  margin-right: 15px;
}

.reusableCouponCard div img {
  width: 35px;
}

.reusableCouponCardApplied div img {
  width: 25px;
}

.reusableCouponCard span,
.reusableCouponCardApplied span {
  color: #41a45c;
  font-weight: 700;
  font-size: 14px;
}

.reusableCouponCardRemove {
  color: #4f585e !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  cursor: pointer;
}

.reusableCouponCardContainer p {
  margin: 0;
  padding-top: 12px;
  color: #979797;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.ticketLeftPart,
.ticketRightPart {
  position: absolute;
  width: 18px;
  height: 20px;
  border: 2px solid #93edac;
  border-radius: 50%;
  background-color: #fff;
}

.ticketLeftPart {
  left: 4.8px;
  clip-path: circle(65% at 100% 50%);
}

.ticketRightPart {
  right: 4.6px;
  clip-path: circle(65% at 0 50%);
}
