.reusableBillMainContainer {
  background-color: #fff;
}

.reusableBillMainContainer p {
  color: #40464d;
  font-weight: 700;
  font-size: 16px;
  padding: 16px 14px 20px 14px;
  margin: 0px;
  border-top: 1px solid #e3e6ec;
}

.reusableBillMainContainer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 14px;
  background-color: #fff;
  color: #40464d;
  font-weight: 400;
  font-size: 14px;
}

.reusableBillMainContainer div:last-child {
  padding: 12px 14px;
  margin-top: 5px;
  border-radius: 4px;
  border-top: 1px solid #e3e6ec;
}

.reusableBillMainTotalContainer {
  display: block !important;
}

.reusableBillMainTotalContainer p {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 10px;
  font-weight: 400;
  text-align: right;
}

.reusableBillEstimatedTotalContainer {
  padding: 0 !important;
}

.reusableBillEstimatedTotalContainer span {
  color: #40464d;
}

.reusableBillEstimatedTotalContainer span:nth-child(1) {
  font-weight: 600;
}

.reusableBillEstimatedTotalContainer span:nth-child(2) {
  font-weight: 700;
}

.postProcessingText {
  display: block;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #dfe3e6;
  border-radius: 6px;
  padding: 17px 14px 25px 14px;
}

@media screen and (max-width: 768px) {
  .reusableBillMainContainer {
    margin: 14px 14px 0px 14px;
  }
  .reusableBillMainContainer p {
    border: none;
    padding-top: 0px;
  }
}

@media screen and (max-width: 480px) {
  .reusableBillMainContainer {
    margin: 16px 3px 0px 3px;
  }

  .reusableBillMainContainer p {
    border-top: 0px solid #e3e6ec;
  }
}
