.orderDetails_myOrderDetailsWrapper .postProcessingText {
  padding-bottom: 0px !important;
}

.orderDetails_myOrderDetailsWrapper {
  background-color: #fff;
  padding: 24px 15px 15px 15px;
  margin: 0px auto;
  width: 75vw;
  display: flex;
  justify-content: center;
}

.orderDetails_leftContainer {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  width: 70%;
  max-width: 70%;
}

.orderDetails_rightContainer {
  min-width: 30%;
  width: 32%;
  margin-left: 20px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.orderDetails_rightContainer .orderDetails_rightItem {
  border-bottom: 2px solid #e3e6ec;
}

.orderDetails_rightContainer .orderDetails_rightItem:last-child {
  border-bottom: none;
}

.orderDetails_rightContainerSticky {
  /* position: sticky;
  top: 85px; */
}

.orderDetails_customBillMargin {
  margin-top: 8px;
}

.orderDetails_productTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #40464d;
  margin-bottom: 16px;
}

.orderDetails_countProductTitle {
  color: #6e787e;
  font-weight: 700;
  font-size: 16px;
  margin-left: 5px;
}

.orderDetails_viewMoreBtn {
  border: 1px solid #0071bd;
  box-sizing: border-box;
  border-radius: 6px;
  height: 46px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #0071bd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 0px;
}
.orderDetails_productDetailsWrap {
  margin-bottom: 24px;
}

.orderDetails_BillDetailsTop {
  margin-top: -16px;
}

.orderDetails_doctorTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #40464d;
  margin-bottom: 24px;
  margin-top: 24px;
  margin-left: 14px;
}

.orderDetails_customMarginBottom {
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .orderDetails_billWrapper {
    margin-bottom: 4px;
  }
  .orderDetails_myOrderDetailsWrapper {
    padding: 0px 0px;
    width: 100vw;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .orderDetails_leftContainer {
    width: 100%;
    max-width: 100%;
    z-index: 0;
  }

  .orderDetails_productTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #40464d;
    margin-left: 16px;
    margin-bottom: 14px;
  }

  .orderDetails_viewMoreBtn {
    margin: 8px 16px 8px 16px;
  }
  .orderDetails_productDetailsWrap {
    margin-bottom: 0px;
  }

  .orderDetails_customMarginBottom {
    margin-bottom: 16px;
  }
}
