.reusableSaveCardContainer {
  border-bottom: 1px solid #e3e6ec;
  padding: 8px 14px 8px 14px;
}

.reusableSaveCardCartContainer {
  display: none;
}

.reusableSaveCard {
  background-color: #41a45c;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 16px;
  /* mask: linear-gradient(-60deg, #000 30%, #0005, #000 60%) right/300% 100%; */
  /* mask: linear-gradient(-60deg, #000 35%, #0007, #000 45%) right/300% 100%; */
  /* mask: url("../../AssetsNew/rectMask.svg"); */
  /* animation: shimmer 2.5s infinite; */
  position: relative;
  overflow: hidden;
}

.reusableSaveCard img {
  width: 35px;
  margin-right: 10px;
}

.reusableSaveCard div span {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}

.reusableSaveCard div span:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
}
.maskWrap {
  position: absolute;
  left: 250px;
  top: 0;
  bottom: 0;
  animation: shimmerMask 2.5s infinite;
  width: fit-content;
}

.maskWrap img {
  width: 100%;
}

@keyframes shimmerMask {
  0% {
    left: -10%;
    top: 0px;
    bottom: 0px;
  }

  100% {
    left: 100%;
    top: 0px;
    bottom: 0px;
  }
}
@keyframes shimmer {
  100% {
    mask-position: left;
  }
}

@media screen and (max-width: 768px) {
  .reusableSaveCardContainer {
    margin-bottom: 0px;
    border: none;
    padding: 0px 14px 8px 14px;
  }
  .reusableSaveCardCartContainer {
    background-color: #41a45c;
    display: block;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 1100;
  }
  .reusableSaveCardCartContainer .reusableSaveCard {
    mask: none;
    animation: none;
  }
}
