.Shimmer-shimmer-1-1-1 {
  background-size: 800px auto !important;
}

.blank-med-loader-card-feature-container {
  display: flex;
}

.blank-med-loader-card-feature-wrapper {
  box-sizing: border-box;
  width: 262px;
  /* height: 350px; */
  /* margin: 10px 10px 10px 10px; */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  background-color: #fff;
}

.blank-med-loader-card-feature-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px;
}

.blank-med-loader-card-feature-image {
  width: 100%;
  margin: -20px 0px;
  /* height: 150px; */
}

.blank-med-loader-card-feature-lineOne {
  width: 170px;
  /* height: 20px; */
  border-radius: 5px;
}
.blank-med-loader-card-feature-lineTwo {
  width: 120px;
  /* height: 15px; */
  border-radius: 5px;
}

@media screen and (max-width: 468px) {
  .blank-med-loader-card-feature-wrapper {
    width: 200px;
    /* height: 300px; */
  }
}
