.OrderStatusNew_orderStatusWrapper {
  background-color: #fff;
  padding: 35px 15px 32px 15px;
  margin: 0px auto;
  width: 75vw;
  display: flex;
  justify-content: center;
}

.OrderStatusNew_leftContainer {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  width: 70%;
  max-width: 70%;
}

.OrderStatusNew_rightContainer {
  min-width: 30%;
  width: 32%;
  margin-left: 20px;
  margin-top: 0px;
}

.OrderStatusNew_cancelButton {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #8897a2;
  padding: 16px 0px;
  cursor: pointer;
}

.OrderStatusNew_timelineWrap {
  margin-bottom: 25px;
}

.OrderStatusNew_fetchErrorText {
  color: #ff9b9b;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}

.OrderStatusNew_cancelModalWrapper {
}

.OrderStatusNew_cancelTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #4f585e;
  padding: 24px 15px 15px 16px;
}

.OrderStatusNew_reasonListWrap {
  padding: 0px 16px;
  height: 195px;
  overflow-y: scroll;
}

.OrderStatusNew_buttonWrap {
  border-top: 1px solid #ebf0f6;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.OrderStatusNew_canBtn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #0071bd;
  padding: 10px 0px;
  cursor: pointer;
}

.OrderStatusNew_dntCanBtn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: #0071bd;
  border-radius: 4px;
  padding: 11px 32px;
  cursor: pointer;
}

.OrderStatusNew_canError {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0OrderStatusNew_02em;
  color: #ff8c8c;
  padding: 0px 15px 15px 15px;
}

.OrderStatusNew_dummyHeightEdd {
  height: 48px;
}

.OrderStatusNew_rightContainerInner {
  position: sticky;
  top: 100px;
}

.OrderStatusNew_tabsFixedHeader {
  display: flex;
  background-color: #fff;
  position: fixed;
  top: 114px;
  /* border-bottom: 2px solid #dce4f1 !important; */
  width: 100%;
  padding: 0px 15px;
  margin: 0 0 16px 0;
  box-shadow: 2px 2px 8px -3px rgb(0 0 0 / 50%);
  align-items: center;
  justify-content: center;
}

.OrderStatusNew_tabsFixedHeaderItem {
  color: #8897a2;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  text-shadow: none;
  padding: 12px 25px 12px 25px;
  width: 100%;
  text-align: center;
}

.OrderStatusNew_tabsFixedHeaderItemActive {
  border-bottom: 3px solid #5d8bd6;
  color: #5d8bd6;
}

@media screen and (max-width: 1200px) {
  .OrderStatusNew_orderStatusWrapper {
    padding: 35px 10px 32px 10px;
    width: 90vw;
  }

  .OrderStatusNew_rightContainer {
    margin: 10px 0px;
    width: auto;
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .OrderStatusNew_estimatedWrapper {
    padding: 0px 15px;
    margin: 0px -15px;
    position: relative;
    background: repeating-linear-gradient(
      #ecf2ff,
      #ecf2ff 49.9%,
      #ffffff 50.1%,
      #ffffff 100%
    );
  }
  .OrderStatusNew_orderStatusWrapper {
    padding: 0px 15px;
    width: 100vw;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .OrderStatusNew_leftContainer {
    width: 100%;
    max-width: 100%;
    z-index: 0;
  }

  .OrderStatusNew_mwebTopWrap {
    background: #ecf2ff;
    margin: 0px -15px 0px -15px;
    padding: 0px 15px 25px 15px;
  }

  .OrderStatusNew_mWebSepWrap {
    /* margin-left: -15px;
    margin-right: -15px; */
  }

  .OrderStatusNew_cancelButton {
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 500;
  }
}

.OrderStatusNew_warningWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .OrderStatusNew_warningWrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }

  .OrderStatusNew_linkBtn {
    padding: 0 !important;
  }

  .OrderStatusNew_warnAlert {
    align-items: flex-start !important;
  }

  .OrderStatusNew_warnAlert img {
    margin-top: 0.5em;
  }

  .OrderStatusNew_cancelTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4f585e;
    padding: 25px 15px;
  }

  .OrderStatusNew_rightContainerInner {
    position: relative;
    top: 0;
  }
}

.OrderStatusNew_title {
  font-size: 16px;
  font-weight: 600;
}

.OrderStatusNew_linkBtn span {
  color: var(--accent);
  font-weight: 700;
  font-size: 14px;
}

.OrderStatusNew_warnAlert {
  background: #fff0df !important;
  border: 1px solid #ffa132 !important;
  margin: 1em 0 !important;
  border-radius: 4px !important;
}
