.tabWrapper .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.tabWrapper .ant-tabs-tab:hover {
  color: #5d8bd6;
}

.tabWrapper .ant-tabs-ink-bar {
  background: #5d8bd6 !important;
}
.tabWrapper .ant-tabs-tab {
  padding: 12px 30px 12px 0px;
  font-weight: 600;
  font-size: 16px;
}
.tabWrapper .ant-tabs-tab:nth-child(2) {
  padding: 12px 0px 12px 30px;
}
@media screen and (max-width: 768px) {
  .tabWrapper .ant-tabs-tab:nth-child(2) {
    padding: 12px 25px 12px 25px;
  }
}
.cancel-rectangle {
  max-width: 400px !important;
  width: 40%;
  min-width: 300px;
}

/* The container */
.containerWrapper {
  display: flex;
  position: relative;
  padding-left: 22px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #51585e;
}

/* Hide the browser's default radio button */
.containerWrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  /* background-image: url("../../../src/Assets/checkbox_unselected.svg") !important; */
  width: 16px;
  height: 16px;
}

/* On mouse-over, add a grey background color */
.containerWrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerWrapper input:checked ~ .checkmark {
  /* background-image: url("../../../src/Assets/checkbox.svg") !important; */
  width: 16px;
  height: 16px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  /* background-image: url("../../../src/Assets/checkbox.svg") !important; */
  width: 16px;
  height: 16px;
  position: absolute;
}

/* Show the indicator (dot/circle) when checked */
.containerWrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerWrapper .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 2px solid #dce4f1 !important;
}
.orderSummaryMedcinesAddedContainer > p > img {
  margin-top: -6px;
  margin-right: 5px;
}

.orderSummaryMedcinesAddedContainer > p {
  font-size: 18px !important;
  margin-top: 32px !important;
}
.orderStatusWrapper .reusableBillMainContainer > p {
  padding-top: 0px !important;
}

@media screen and (max-width: 768px) {
  .orderSummaryMedcinesAddedContainer > p {
    font-size: 18px !important;
    margin-top: 10px !important;
  }
  .tabWrapper {
    margin: 0px -15px;
  }

  .tabWrapper .ant-tabs-content-holder {
    /* padding: 0px 15px; */
  }

  .tabWrapper .ant-tabs-nav {
    padding: 0px 15px;
  }

  .tabWrapper .ant-tabs-nav-list {
    width: 100%;
  }

  .tabWrapper .ant-tabs-tab {
    padding: 12px 25px 12px 25px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .tabWrapper .ant-tabs-tab + .ant-tabs-tab {
    margin: auto;
  }

  .tabWrapper .ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap::before,
  .tabWrapper .ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-wrap::before,
  .tabWrapper .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-nav-wrap::before,
  .tabWrapper .ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-wrap::before,
  .tabWrapper .ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap::after,
  .tabWrapper .ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-wrap::after,
  .tabWrapper .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-nav-wrap::after,
  .tabWrapper .ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-wrap::after {
    box-shadow: none !important;
  }

  .tabWrapper .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
  .tabWrapper .ant-tabs-tab:hover {
    color: #5d8bd6;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    text-shadow: none;
  }

  .tabWrapper .ant-tabs-tab-btn {
    color: #8897a2;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    text-shadow: none;
  }

  .cancel-rectangle {
    position: fixed !important;
    top: unset;
    left: unset;
    bottom: 0;
    margin: 0px !important;
    width: 100%;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }

  .cancel-rectangle {
    max-width: 100% !important;
    min-width: 100%;
  }

  .postProcessingText {
    border: 0px !important;
    padding: 0px 4px 25px 0px !important;
  }
  .orderStatusWrapper .reusableBillMainContainer > p {
    padding-top: unset !important;
  }
}
