.orderCardMainContainer {
  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(87, 100, 173, 0.1);
  border-radius: 10px;
  height: 300px;
  padding: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
}

.orderCardHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.orderCardSecondHeaderContainer {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.orderCardHeaderInnerContainer {
  display: flex;
  flex-direction: column;
}

.orderCardHeaderInnerContainer span:nth-child(1) {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
}

.orderCardHeaderInnerContainer span:nth-child(2) {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  /* font-family: "Century Gothic", sans-serif; */
}

.orderCardDetailsContainer {
  display: flex;
  margin-left: 15px;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}

.orderCardDetailsContainerImg {
  width: 50px;
}

.orderCardDetailsContainer div {
  display: flex;
  flex-direction: column;
}

.orderCardDetailsContainer div span {
  /* font-family: "Century Gothic", sans-serif; */
  color: #333333;
}

.orderCardDetailsContainer div span:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
}

.orderCardDetailsContainer div span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  display: none;
}

.orderCardMedContainer {
  display: flex;
  align-items: center;
  margin-left: 25px;
  gap: 30px;
}

.orderCardMedContainer div {
  display: flex;
  flex-direction: column;
}

.orderCardMedContainer div span {
  font-weight: 400;
  font-size: 16px;
  display: block;
  max-width: 22vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orderCardBlueFontContainer {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.orderCardBlueFontContainer img {
  width: 10px;
  margin-right: 5px;
}

.orderCardBlueFont {
  font-size: 14px;
  font-weight: 600 !important;
  color: #0071bc;
  cursor: pointer;
}

.orderCardButtonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  padding: 15px;
  border-top: 1px solid rgba(153, 153, 153, 0.4);
}

.orderCardMedImg {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .orderCardMedContainer div span {
    font-size: 14px;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .orderCardMainContainer {
    padding: 10px 10px 0px 10px;
    height: 250px;
  }
  .orderCardDetailsContainer {
    margin-left: 10px;
    gap: 20px;
  }
  .orderCardMedContainer {
    margin-left: 10px;
    gap: 25px;
  }
  .orderCardSecondHeaderContainer {
    gap: 1.5rem;
  }
  .orderCardDetailsContainer div span:nth-child(1) {
    font-size: 14px;
  }
  .orderCardDetailsContainer div span:nth-child(2) {
    font-size: 12px;
  }
  .orderCardMedContainer div span {
    font-size: 12px;
    max-width: 52vw;
  }
  .orderCardBlueFontContainer img {
    width: 8px;
    margin-right: 4px;
  }
  .orderCardBlueFont {
    font-size: 12px;
  }
  .orderCardButtonContainer {
    padding: 10px;
  }
  .orderCardHeaderInnerContainer span:nth-child(1) {
    font-size: 10px;
  }
  .orderCardHeaderInnerContainer span:nth-child(2) {
    font-size: 12px;
  }
  .orderCardDetailsContainerImg {
    width: 40px;
  }
  /* .orderCardMedImg {
    display: none;
  } */
}
