.upload-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f1faff;
  border: 1px solid #aac5d3;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px;
  height: 165px;
}

.upload-card-container div {
  display: flex;
  flex-direction: column;
}

.upload-card-container div span:nth-child(1) {
  color: #40464d;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}

.upload-card-container div span:nth-child(2) {
  color: #728a9c;
  font-weight: 600;
  font-size: 12px;
}

.upload-card-container p {
  color: #0071bc;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  margin: 0;
  cursor: pointer;
}
