.orderSummaryLoader_OrderStatusSummaryWrapper {
  margin-bottom: 16px;
}

.orderSummaryLoader_OrderStatusSummaryHeader {
  height: 48px;
  border-radius: 4px;
  width: 100%;
}

.orderSummaryLoader_detailsSection {
  margin-top: 16px;
  margin-bottom: 24px;
}

.orderSummaryLoader_detailsRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.orderSummaryLoader_title {
  margin-left: 0px;
  width: 120px;
  height: 18px;
  border-radius: 4px;
}

.orderSummaryLoader_date {
  width: 120px;
  height: 18px;
  border-radius: 4px;
}
