.profileHeaderContainer {
  background-color: rgba(110, 193, 253, 0.2);
  padding: 30px 5px 70px 5px;
  display: flex;
  justify-content: center;
  position: relative;
}

.profileHeaderContainer span {
  color: #003055;
  /* font-family: "Century Gothic", sans-serif; */
  font-weight: 700;
  font-size: 40px;
}

.profileHeaderInsideContainer {
  position: absolute;
  bottom: -85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profileHeaderInsideContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #ededed;
}

.profileEditText {
  color: #0071bc;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.profileTypesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  margin-top: 100px;
}

.profileSelectedType,
.profileUnselectedType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 5px;
  width: 225px;
  transition: 0.2s;
}

.profileSelectedType {
  border-bottom: 4px solid #0071bc;
}

.profileUnselectedType {
  border-bottom: 1px solid #0071bc;
}

.profileSelectedTypeText,
.profileUnselectedTypeText {
  font-size: 16px;
  color: #0071bc;
}

.profileSelectedTypeText {
  font-weight: 600;
}

.profileUnselectedTypeText {
  font-weight: 400;
}

.profileTypeContainer {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.profileCustomerDetailsGenderContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.profileCustomerDetailsGenderContainer span:first-child {
  margin-bottom: 10px;
  font-size: 12px;
}

.profileCustomerDetailsGenderInideContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profileCustomerDetailsGenderInideContainer div {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.profileCustomerDetailsGenderInideContainer div span {
  font-size: 16px;
  color: #333;
}

@media screen and (max-width: 1024px) {
  .profileHeaderContainer {
    padding: 30px 5px 60px 5px;
  }

  .profileHeaderContainer span {
    font-size: 36px;
  }

  .profileTypesContainer {
    margin-top: 65px;
  }

  .profileHeaderInsideContainer {
    bottom: -65px;
    gap: 5px;
  }

  .profileHeaderInsideContainer img {
    width: 80px;
    height: 80px;
  }

  .profileEditText {
    font-size: 14px;
  }

  .profileTypeContainer {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .profileHeaderContainer {
    padding: 30px 5px 60px 5px;
  }

  .profileHeaderContainer span {
    font-size: 30px;
  }

  .profileTypesContainer {
    margin-top: 65px;
  }

  .profileHeaderInsideContainer {
    bottom: -65px;
    gap: 5px;
  }

  .profileHeaderInsideContainer img {
    width: 80px;
    height: 80px;
  }

  .profileEditText {
    font-size: 14px;
  }

  .profileTypeContainer {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .profileCustomerDetailsGenderContainer {
    width: 100%;
  }

  .profileCustomerDetailsGenderInideContainer div span {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .profileHeaderContainer {
    padding: 20px 5px 50px 5px;
  }

  .profileHeaderContainer span {
    font-size: 20px;
  }

  .profileTypesContainer {
    margin-top: 65px;
  }

  .profileHeaderInsideContainer {
    bottom: -60px;
    gap: 5px;
  }

  .profileHeaderInsideContainer img {
    width: 70px;
    height: 70px;
  }

  .profileEditText {
    font-size: 12px;
  }

  .profileSelectedTypeText,
  .profileUnselectedTypeText {
    font-size: 12px;
  }

  .profileTypeContainer {
    width: 85%;
    padding-bottom: 15px;
  }
}
