.uploadPrescriptionMainContainer {
  width: 100%;
  min-width: 50vw;
}

.onlyUploadText {
  margin-bottom: 40px;
}

.uploadPrescriptionItemsContainer {
  padding: 0px 0px;
  width: 90%;
}

.uploadPrescriptionItemsContainer p {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding-bottom: 15px;
}

.uploadPrescriptionrequiredContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.uploadPrescriptionrequiredContainer div {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0071bc;
  margin-right: 6px;
}

.uploadPrescriptionrequiredContainer span {
  font-weight: 500;
  color: #8897a2;
  font-size: 12px;
}

.uploadPrescriptionButtonsMainContainer {
  display: flex;
  background-color: transparent;
  padding: 10px;
  gap: 20px;
  width: 85%;
}

.uploadPrescriptionAddMainContainer {
  padding: 18px 0px 8px 0px;
}

.uploadPrescriptionAddContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.uploadPrescriptionAddContainer p {
  font-weight: 700;
  font-size: 16px;
  color: #4f585e;
  /* font-family: "Century Gothic", sans-serif; */
  margin: 0px 0px 5px 0px;
  padding: 0;
}

.uploadPrescriptionAddContainer span {
  font-weight: 400;
  font-size: 14px;
  color: #40464d;
}

.uploadPrescriptionAddInsideContainer {
  /* background-color: rgba(229, 241, 248, 0.5); */
  padding: 0px 0px 0px 0px;
  /* width: 85%; */
  /* margin: 15px auto; */
}

.uploadPrescriptionImageContainer {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  gap: 30px;
}

.uploadPrescriptionImageInsideContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #daf0fc;
  border: 1px solid #a7d9f4;
  border-radius: 7px;
  padding: 18px 0px;
  width: 168px;
  margin: 0;
}

.uploadPrescriptionImageContainer label img {
  width: 32px;
  margin-bottom: 12px;
}

.uploadPrescriptionImageContainer label label {
  color: #0071bc;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  text-align: center;
}

.uploadedPrescriptionText {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  margin: 0px 0px 10px 0px;
}

.uploadPrescriptionImageScrollContainer {
  max-width: 55vw;
  display: flex;
  padding-bottom: 30px;
  gap: 15px;
}

.uploadPrescriptionRemoveImage {
  position: absolute;
  margin-top: -10px;
  right: -10px;
  cursor: pointer;
  z-index: 1;
}

.uploadPrescriptionDisplayImage {
  width: 100px;
  height: 100px;
  margin: 0px 0px;
  object-fit: cover;
  cursor: pointer;
  border: 0.4px solid #e1e8eb;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.11));
  border-radius: 8px;
}

.uploadPrescriptionUnSelectedRadioButtonContainer,
.uploadPrescriptionSelectedRadioButtonContainer {
  cursor: pointer;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.uploadPrescriptionUnSelectedRadioButton,
.uploadPrescriptionSelectedRadioButton {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadPrescriptionUnSelectedRadioButton {
  border: 1.8px solid #848a8e;
}

.uploadPrescriptionSelectedRadioButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.8px solid #0071bd;
}

.uploadPrescriptionUnSelectedRadioButtonContainer .uploadPresSelectInnerButton {
  display: none;
}

.uploadPrescriptionSelectedRadioButtonContainer .uploadPresSelectInnerButton {
  width: 8px;
  height: 8px;
  border: none;
  background-color: #0071bd;
  border-radius: 50%;
}

.uploadPrescriptionUnSelectedRadioButtonContainer,
.uploadPrescriptionSelectedRadioButtonContainer span {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  padding: 30px 0px;
}

.uploadPrescriptionItemsMainLoader {
  display: flex;
  flex-direction: column;
}

.uploadPrescriptionItemsLoader:nth-child(1) {
  width: 55%;
  height: 25px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.uploadPrescriptionItemsLoader:nth-child(2) {
  width: 40%;
  height: 16px;
  border-radius: 4px;
}

.uploadPrescriptionImagesMainLoader {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 20px 50px rgb(87 100 173 / 22%);
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0px 15px 0px;
  width: 85%;
}

.uploadPrescriptionImagesLineLoader:nth-child(1) {
  width: 60%;
  height: 18px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.uploadPrescriptionImagesLineLoader:nth-child(2) {
  width: 90%;
  height: 16px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.uploadPrescriptionImagesLineLoader:nth-child(3) {
  width: 35%;
  height: 16px;
  border-radius: 4px;
  margin-bottom: 25px;
}

.uploadPrescriptionImagesLineLoader:nth-child(4) {
  width: 42%;
  height: 18px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.uploadPrescriptionImagesLineLoader:nth-child(5) {
  width: 85%;
  height: 100px;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 20px 25px;
  margin: 20px auto;
}

.uploadPrescriptionImagesLineLoader:nth-child(6) {
  width: 45%;
  height: 18px;
  border-radius: 4px;
  margin-top: 10px;
}

.uploadPrescriptionItemsContainer .moreMedsText {
  color: #0071bd;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .uploadPrescriptionItemsContainer {
    margin: 0px 18px;
    width: auto;
  }
  .uploadPrescriptionItemsContainer p {
    font-size: 16px;
  }
  .uploadPrescriptionrequiredContainer span {
    font-size: 14px;
  }

  .onlyUploadText {
    margin-bottom: 0px;
  }

  .uploadPrescriptionButtonsMainContainer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    padding: 5px;
    background-color: #fff;
  }
  /* .uploadPrescriptionAddContainer p {
    font-size: 14px;
  } */
  /* .uploadPrescriptionAddContainer span {
    font-size: 14px;
  } */
  .uploadPrescriptionAddInsideContainer {
    padding: 15px 0px;
  }

  .uploadPrescriptionUnSelectedRadioButtonContainer,
  .uploadPrescriptionSelectedRadioButtonContainer span {
    font-size: 15px;
  }

  .spanLabel {
    padding: 10px 0px !important;
  }

  .uploadPrescriptionImageScrollContainer {
    max-width: 100%;
  }

  .uploadPrescriptionItemsMainLoader {
    margin: 0px 1.5rem;
  }

  .uploadPrescriptionImagesMainLoader {
    width: 95%;
    margin: 20px auto 15px auto;
  }
}

@media screen and (max-width: 480px) {
  .uploadPrescriptionMainContainer {
    width: 100%;
    min-width: 50vw;
    margin-top: 15px;
  }
  .onlyUploadText {
    margin-bottom: 0px;
  }

  .uploadPrescriptionAddMainContainer {
    padding: 10px 0px 0px 0px;
  }
  .uploadPrescriptionItemsContainer {
    margin: 0px 18px;
    width: auto;
  }
  .uploadPrescriptionItemsContainer p {
    font-size: 14px;
  }

  .uploadPrescriptionrequiredContainer div {
    width: 4px;
    height: 4px;
    border-radius: 4px;
  }

  .uploadPrescriptionrequiredContainer span {
    font-size: 13px;
  }

  .uploadPrescriptionButtonsMainContainer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    padding: 5px 1rem;
    gap: 10px;
    background-color: #fff;
  }

  .uploadPrescriptionAddContainer {
    margin-bottom: 15px;
    padding: 0px 18px;
  }

  /* .uploadPrescriptionAddContainer p {
    font-size: 13px;
    margin: 0px 0px 2px 0px;
  } */

  /* .uploadPrescriptionAddContainer span {
    font-size: 13px;
  } */

  .uploadPrescriptionAddInsideContainer {
    padding: 12px 0px;
    /* width: 100%;
    margin: 15px 0; */
  }

  .uploadPrescriptionImageContainer {
    padding: 12px 18px 25px 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .uploadPrescriptionImageContainer label img {
    width: 2rem;
  }

  .uploadPrescriptionImageContainer label label {
    font-size: 12px;
  }

  .uploadPrescriptionUnSelectedRadioButtonContainer,
  .uploadPrescriptionSelectedRadioButtonContainer {
    padding: 0px 18px;
  }

  .uploadPrescriptionUnSelectedRadioButtonContainer,
  .uploadPrescriptionSelectedRadioButtonContainer span {
    font-size: 13px;
  }

  .spanLabel {
    padding: 10px 0px !important;
  }
  .uploadedPrescriptionText {
    margin: 0px 18px 10px 18px;
  }

  .uploadPrescriptionImageScrollContainer {
    max-width: 100%;
    padding: 0px 18px 18px;
  }

  .uploadPrescriptionItemsMainLoader {
    margin: 0px 1.5rem;
  }

  .uploadPrescriptionItemsLoader:nth-child(1) {
    width: 75%;
  }

  .uploadPrescriptionItemsLoader:nth-child(2) {
    width: 55%;
  }

  .uploadPrescriptionImagesMainLoader {
    width: 90%;
    margin: 20px auto 15px auto;
  }

  .uploadPrescriptionImageInsideContainer {
    width: auto;
    padding: 18px 2px;
  }
}
