.DoctorDetails_doctorDetailsWrap {
}

.DoctorDetails_doctorDetailsReview {
  border-radius: 0px;
  padding: 24px 0px;
  margin: 0px 16px;
}

.DoctorDetails_reviewTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #4f585e;
}
.DoctorDetails_starWrap {
  display: flex;
  padding: 24px 0px 52px 0px;
}

.DoctorDetails_starWrap > div {
  margin-right: 10px;
}
.DoctorDetails_deactiveStar {
  width: 48px;
  height: 44px;
  background-image: url("../../../../src/Assets/BigGreyStar.svg") !important;
  cursor: pointer;
}

.DoctorDetails_errorMsg {
  display: block;
  width: 100%;
  color: var(--red);
  font-size: 14px;
  margin-bottom: 2em;
}

.DoctorDetails_deactiveStar:hover,
.DoctorDetails_activeStar {
  width: 44px;
  height: 40px;
  background-image: url("../../../../src/Assets/bigGoldenStar.svg") !important;
  cursor: pointer;
}

.DoctorDetails_starWrap {
  display: flex;
  gap: 5px;
}

.DoctorDetails_starWrap > div {
  margin-right: 5px;
}

.DoctorDetails_submitBtn {
  width: 100%;
  border: 1px solid #0071bc !important;
  border-radius: 4px !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #0071bd !important;
  height: 44px !important;
}
