.patientDetailsSidePanel_formWrap {
  padding: 15px 25px 0px 25px;
}

.patientDetailsSidePanel_InputWrapper {
  margin-bottom: 15px;
}

.patientDetailsSidePanel_input_label {
  color: #4f585e;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  position: relative;
}

.patientDetailsSidePanel_inputForm:active,
.patientDetailsSidePanel_inputForm:focus {
  border: 1px solid #0071bc !important;
  outline: #0071bc;
}
.patientDetailsSidePanel_inputForm,
.patientDetailsSidePanel_inputForm > div > .ant-select-selection-placeholder {
  color: #4f585e !important;
  font-weight: 600;
  font-size: 16px !important;
  border: 1px solid #c6c9cc !important;
  height: 44px;
  border-radius: 6px !important;
  caret-color: #0071bc;
}
.patientDetailsSidePanel_antPlaceholder {
  color: #4f585e !important;
}
.patientDetailsSidePanel_errorText {
  color: #f15959;
  font-size: 12px;
  margin-top: 5px;
  font-weight: 400;
}

.patientDetailsSidePanel_errorInput {
  border-color: #f15959;
}
