.patientDetailsSidePanelWrapper .ant-select-selector {
  height: 40px !important;
  display: flex !important;
  align-items: center;
  border: none !important;
  margin-top: 1px;
  background: transparent;
  width: 100% !important;
}

.patientDetailsDropDown {
  z-index: 9999 !important;
  min-width: 150px !important;
  right: 25px;
  left: unset !important;
  width: 150px !important;
}
