.confirmModal {
  max-width: 300px !important;
}

.confirmModal__Header {
  font-size: 14px;
  font-weight: 700;
  color: #4f585e;
}
.confirmModal__ButtonWrap button {
  width: fit-content;
}

.confirmModal__ButtonWrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.confirmModal__ButtonWrap1 {
  display: flex;
  margin-top: 20px;
  flex-direction: column-reverse;
  text-align: end;
  gap: 10px;
  margin-bottom: 10px;
}

.confirmModal__PrimaryBtn {
  color: #8897a2;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.confirmModal__SecBtn {
  color: #0071bd;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.confirmModal__PrimaryBtn1 {
  color: #8897a2;
  font-weight: 500;
  font-size: 14px;
  padding: 0px;
  cursor: pointer;
}

.confirmModal__SecBtn1 {
  color: #0071bd;
  font-weight: 700;
  font-size: 14px;
  padding: 0px;
  cursor: pointer;
}
