.mainSidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1500;
  width: 45vh;
  display: flex;

  background-color: #f9f9f9;
  flex-flow: column;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
}

.mainSidebar.open {
  opacity: 1;
  transform: translateX(0%);
}
.headerSidebar {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 3% 10px 3%;
  top: 2%;
  font-size: smaller;
  border-bottom: 1px #dcdcdc solid;
}
.headerSidebar > span {
  color: #484848;
  font-weight: 600;
  font-size: 16px;
  /* font-family: "Century Gothic", sans-serif; */
}
.headerSidebar > span:nth-child(2) {
  cursor: pointer;
  width: 30vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-bottom: 3px;
  margin-top: 3px;
}

.headerSidebar > span:nth-child(4) {
  cursor: pointer;
  width: 35vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-top: 3px;
  font-size: 12px;
}

.sidebaroptions {
  top: 23%;
  margin: 10px;
  /* overflow-y: scroll; */
}

.sidebaroptions > div {
  margin: 2px 0 2px 0;
  cursor: pointer;
}
.sidebaroptions > div > span {
  color: #484848;
  font-weight: 600;
  display: flex;
  margin-top: 4px;
  margin-left: 5px;
  font-size: 14px;
  /* font-family: "Raleway", sans-serif; */
}

@media screen and (max-width: 468px) {
  .mainSidebar {
    width: 37vh;
  }
}

.particular-option {
  display: flex;
}

.particular-option > div {
  width: 40px;
}

.user-avatar {
  width: 60px;
  border-radius: 50% !important;
  border: 5px white solid;
}

.user-avatar > img {
  width: 100%;
  border-radius: 50% !important;
}

.coming-soon-toast {
  z-index: 400000000000;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0071bc;
  position: absolute;
  left: 50%;
  top: 80%;
  font-weight: 700;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
