.newCustomLoaderWrapper {
  z-index: 11000;
  background-color: white;
  width: 300px;
  padding: 20px 15px;
  border-radius: 4px;
  top: 45%;
  left: 4.8%;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.newLoaderBody {
  display: flex;
  align-items: center;
}

.newLoaderBody > h6 {
  font-weight: 400;
  text-align: center;
  margin: 0;
  font-size: 14px;
  color: #4f4f4f;
}

.loaderImage {
  width: 35px;
  margin-right: 15px;
}

@media screen and (max-width: 968px) {
  .newCustomLoaderWrapper {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .newCustomLoaderWrapper {
    width: 70%;
  }
}
@media screen and (max-width: 568px) {
  .newCustomLoaderWrapper {
    width: 90%;
  }
}
