.view-cart-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #aac5d3;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px;
}

.view-cart-container p {
  color: #40464d;
  font-weight: 600;
  font-size: 14px;
  margin: 0px 0px 16px 0px;
}

@media screen and (max-width: 968px) {
  .view-cart-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 0px;
    padding: 14px;
  }

  .view-cart-container p {
    font-size: 14px;
    margin: 0px;
  }
}

@media screen and (max-width: 468px) {
  .view-cart-container p {
    font-size: 12px;
  }
}
