.selectPatientContainer {
  padding: 16px;
}

.selectPatientContainer p {
  color: #333;
  font-weight: 700;
  font-size: 14px;
  margin: 0px 0px 16px 0px;
}

.selectPatientGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.selectPatientGridContainer div {
  border-radius: 6px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #c6c9cc;
  cursor: pointer;
}

.selectPatientGridContainer div span {
  color: #0071bd;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.thirtyWrap {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  cursor: pointer;
}
