.pharmaDocContainer {
  margin: 24px 0px 18px 0px;
  padding: 15px;
  border: 1px solid #c6c9cc;
  border-radius: 8px;
}

.pharmaDocContainerNew {
  margin: 0px 18px 18px 28px;
  padding: 15px;
  border: 1px solid #c6c9cc;
  border-radius: 8px;
}

.pharmaCard,
.docCard {
  display: flex;
  align-items: center;
}

.pharmaCard img {
  margin-right: 30px;
  width: 73px;
}

.docCard img {
  margin-right: 18px;
  width: 73px;
}

.pharmaCard p {
  margin: 0;
  color: #4f585e;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  width: 60%;
}

.docCard p {
  margin: 0;
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 60%;
}

.docCard span:nth-child(1) {
  color: #8897a2;
  font-weight: 400;
  font-size: 12px;
  text-decoration: line-through;
}

.docCard span:nth-child(2) {
  color: #41a45c;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .pharmaDocContainer {
    margin: 5px 18px 80px 18px;
  }

  .pharmaDocContainerNew {
    margin: 24px 18px 80px 48px;
  }
}

@media screen and (max-width: 480px) {
  .pharmaDocContainer {
    margin: 8px 18px 100px 18px;
  }

  .pharmaCard img {
    width: 56px;
    margin-right: 12px;
  }

  .pharmaCard p {
    width: 100%;
  }

  .docCard img {
    width: 56px;
    margin-right: 12px;
  }

  .docCard p {
    font-size: 14px;
    width: 100%;
  }

  .pharmaDocContainerNew {
    margin: 24px 18px 100px 48px;
  }
}
