.orderFlowBillLoaderMainContainer {
  background-color: #fff;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
  border-radius: 4px;
  padding: 15px 15px 5px 15px;
  display: flex;
  flex-direction: column;
}

.orderFlowBillLineLoader {
  width: 100%;
  border-radius: 4px;
}

.orderFlowBillLineLoader:first-child {
  width: 35%;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .orderFlowBillLoaderMainContainer {
    margin: 0px 20px;
  }
}

@media screen and (max-width: 480px) {
  .orderFlowBillLoaderMainContainer {
    margin: 20px 1.5rem 13vh 1.5rem;
  }
}
