.detailsCardMainLoader {
  width: 100%;
  height: 65px;
  border-radius: 4px;
  margin-top: 8px;
}

.allDetailsCardMainLoader {
  width: 100%;
  min-height: 270px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgb(87 100 173 / 22%);
  border-radius: 4px;
  padding: 30px 15px 15px 15px;
  margin-top: 8px;
}

.allDetailsCardFirstLineLoader {
  width: 35%;
  height: 20px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.allDetailsCardSecondLineLoader {
  width: 60%;
  height: 30px;
  border-radius: 4px;
  margin-bottom: 25px;
}

.allDetailsCardRectLoader {
  width: 100%;
  height: 55px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.allDetailsCardButtonLoader {
  width: 50%;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .allDetailsCardRectLoader {
    height: 100px;
  }
  .allDetailsCardSecondLineLoader {
    width: 90%;
  }
}
