.orderFlowMedCardLoaderMainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 25px 0px 15px 0px; */
  width: 100%;
  overflow: hidden;
}

.orderFlowMedCardSquareMainLoader {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.orderFlowMedCardLineMainLoader {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.orderFlowMedCardSquareLoader {
  width: 40px;
  /* height: 50px; */
  border-radius: 4px;
}

.orderFlowMedCardFirstLineLoader:nth-child(1),
.orderFlowMedCardFirstLineLoader:nth-child(2) {
  width: 240px;
  /* height: 16px; */
  border-radius: 4px;
}

.orderFlowMedCardFirstLineLoader:nth-child(3) {
  width: 70px;
  /* height: 16px; */
  border-radius: 4px;
}

.orderFlowMedCardSecondLineLoader:nth-child(1) {
  width: 60px;
  /* height: 16px; */
  border-radius: 4px;
}

.orderFlowMedCardSecondLineLoader:nth-child(2) {
  width: 120px;
  /* height: 16px; */
  border-radius: 4px;
}

.orderFlowMedCardRectangleLoader {
  width: 20%;
  /* height: 40px; */
  border-radius: 4px;
}

.orderFlowMedCardLoaderSubsMainContainer {
  width: 100%;
  /* height: 55px; */
  margin-bottom: 25px;
}
