.MyOrdersCardContainerShimmer {
  width: 100%;
  padding: 32px 14vw 30px 14vw;
}

.MyOrdersCardFilterContainerShimmer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.MyOrdersCardFilterTitleShimmer {
  width: 125px;
  height: 30px;
}

.MyOrdersCardFilterShimmer {
  display: flex;
  align-items: center;
}

.MyOrdersCardFilterTypeShimmer {
  width: 195px;
  height: 50px;
}

.MyOrdersCardFilterTypeShimmer:nth-child(1) {
  margin-right: 24px;
}

.MyOrdersCardFilterCardShimmer {
  width: 100%;
  height: 250px;
  margin-top: 24px;
  border-radius: 8px;
}

@media screen and (max-width: 468px) {
  .MyOrdersCardContainerShimmer {
    width: 100%;
    padding: 20px 16px;
  }

  .MyOrdersCardFilterCardShimmer {
    height: 150px;
    margin-top: 8px;
  }

  .MyOrdersCardFilterContainerShimmer {
    margin-bottom: 20px;
  }

  .MyOrdersCardFilterShimmer {
    display: none;
  }

  .MyOrdersCardFilterTitleShimmer {
    width: 100%;
    height: 50px;
    border-radius: 4px;
  }
}
