.orderStatusShimmerContainer {
  margin-top: 15px;
}

.orderStatusShimmerDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.orderStatusShimmerInnerDetails {
  width: 120px;
  height: 20px;
}

.orderStatusShimmerTimeline {
  margin-top: 50px;
}

.orderStatusShimmerInnerTimeline {
  display: flex;
  flex-direction: column;
}

.orderStatusShimmerInnerTimeline div:nth-child(1) {
  width: 100%;
  height: 120px;
  border-radius: 6px;
  margin-top: 15px;
}

.orderStatusShimmerInnerTimeline div:nth-child(2) {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  margin-top: 15px;
}
