.OrderStatusTabsLoaderHeader {
  border-bottom: 2px solid #dce4f1 !important;
  width: 100%;
  display: flex;
}

.OrderStatusTabsLoaderHeader > div {
  width: 80px;
  height: 34px;
  margin: 10px;
}

.ostl_patientDetailsWrap {
  display: flex;
  justify-content: space-between;
}

.ostl_patientDetailsWrap > div {
  width: 80px;
  height: 34px;
  margin: 10px;
}

.ostl_TimelineWrap {
  border-top: 1px solid #b8c1c7;
  padding: 15px;
}

.ostl_Timeline {
  display: flex;
  justify-content: space-between;
}

.ostl_Timeline > div {
  width: 60px;
  height: 30px;
  margin: 10px;
}

.ostl_TimelineActive > div {
  width: 100%;
  height: 100px;
  border-radius: 6px;
}

.ostl_AlternateWrapper > div {
  width: 100%;
  height: 50px;
  border-radius: 6px;
}
