.productDetailsLoaderContainer {
  display: flex;
  width: 100%;
}

.productDetailsLoaderImageContainer {
  width: 46%;
  height: 150px;
  margin-right: 20px;
}

.productDetailsLoaderDetailsContainer {
  width: 54%;
}

.productDetailsLoaderTitleContainer {
  width: 100%;
  height: 30px;
}

.productDetailsLoaderOthersContainer {
  width: 85%;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productDetailsLoaderInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.productDetailsLoaderInnerContainer div:nth-child(1) {
  width: 90px;
  height: 10px;
}

.productDetailsLoaderInnerContainer div:nth-child(2) {
  width: 120px;
  height: 10px;
}

.productDetailsLoaderPriceContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  margin-top: 40px;
}

.productDetailsLoaderPriceContainer div:nth-child(1) {
  width: 70%;
  height: 15px;
}

.productDetailsLoaderPriceContainer div:nth-child(2) {
  width: 100%;
  height: 35px;
}

.productDetailsLoaderPriceContainer div:nth-child(3) {
  width: 50%;
  height: 10px;
}

.productDetailsLoaderPriceContainer div:nth-child(4) {
  width: 90%;
  height: 30px;
}

@media screen and (max-width: 968px) {
  .productDetailsLoaderInnerContainer div:nth-child(1) {
    width: 70px;
  }
  .productDetailsLoaderInnerContainer div:nth-child(2) {
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .productDetailsLoaderImageContainer {
    width: 50%;
  }
  .productDetailsLoaderDetailsContainer {
    width: 50%;
  }
  .productDetailsLoaderInnerContainer div:nth-child(1) {
    width: 60px;
  }
  .productDetailsLoaderInnerContainer div:nth-child(2) {
    width: 90px;
  }
}

@media screen and (max-width: 480px) {
  .productDetailsLoaderContainer {
    flex-direction: column;
  }
  .productDetailsLoaderImageContainer {
    width: 100%;
  }
  .productDetailsLoaderDetailsContainer {
    width: 100%;
  }
  .productDetailsLoaderOthersContainer { 
    width: 85%;
  }
}