.orderFlowSaveMoreLoaderMainContainer {
  background-color: #fff;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
  border-radius: 4px;
  padding: 15px;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.orderFlowSaveMoreCircleLoader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  float: left;
}

.orderFlowSaveMoreLineMainLoader {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 75%;
}

.orderFlowSaveMoreLineLoader:nth-child(1) {
  width: 90%;
  height: 35px;
  border-radius: 4px;
}

.orderFlowSaveMoreLineLoader:nth-child(2) {
  width: 100%;
  height: 30px;
  border-radius: 4px;
}

.orderFlowSaveMoreLineLoader:nth-child(3) {
  width: 50%;
  height: 16px;
  border-radius: 4px;
}

.productDetailsLoaderIntroContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.productDetailsLoaderIntroContainer div {
  width: 95%;
  height: 15px;
  margin: 0px 0px 5px auto;
}

.productDetailsLoaderIntroContainer div:nth-child(1) {
  width: 200px;
  height: 25px;
  margin: 0px 0px 10px 0px;
}

@media screen and (max-width: 768px) {
  .orderFlowSaveMoreLoaderMainContainer {
    margin: 0px 1.5rem 12vh 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .orderFlowSaveMoreLoaderMainContainer {
    margin: 0px 1.5rem 20px 1.5rem;
  }
}
