.reusable-side-panel .ant-drawer-header {
  border-bottom: 1px solid #bdbdbd !important;
  padding: 22px 14px;
}

.reusable-side-panel .ant-drawer-content-wrapper {
  width: 360px !important;
}

.reusable-side-panel .ant-drawer-body {
  padding: 0px !important;
}

.reusable-side-panel .anticon svg {
  color: #40464d !important;
}

.ant-drawer {
  z-index: 1200 !important;
}

.mobSidePanelClose {
  display: none;
}

.sidePanelTitle {
  color: #4f585e;
  font-size: 16px;
  font-weight: 700;
}

.ant-drawer-content-wrapper .productDetailsMobile span {
  font-weight: 700;
  color: #40464d;
  padding-left: 10px;
}
@media screen and (max-width: 468px) {
  .reusable-side-panel .ant-drawer-content-wrapper {
    width: 100% !important;
    height: 80% !important;
    bottom: 0 !important;
  }

  .reusable-side-panel .ant-drawer-content {
    border-radius: 10px 10px 0px 0px !important;
  }
  .mobSidePanelClose {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2000;
    animation: appear 0.3s;
  }
  .newClose {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 22px;
    padding: 15px;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }

  .resuable-side-panel-patientFilter .ant-drawer-content-wrapper {
    max-height: 70vh !important;
    height: auto !important;
  }

  .resuable-side-panel-doctorFilter .ant-drawer-content-wrapper {
    max-height: 80vh !important;
    height: 100% !important;
  }
}

/* //? Doctor Rating css here */

.doctorStarRating .ant-rate-star .anticon svg {
  color: #d0d7de !important;
  width: 48px;
  height: 44px;
}

.doctorStarRating .ant-rate-star-full .anticon svg {
  color: #f0b928 !important;
  width: 48px;
  height: 44px;
}
