.customModalWrapper {
  position: fixed;
  z-index: 10500;
  background-color: white;
  width: 90%;
  border: 1px solid #b8b8b8;
  padding: 10px;
  border-radius: 5px;
  top: 30%;
  left: 4%;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

.ModalBody {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.ModalBody > h6 {
  font-weight: 400;
  text-align: center;
  color: black;
}

@media screen and (min-width: 768px) {
  .customModalWrapper {
    position: fixed;
    z-index: 10500;
    background-color: white;
    width: 50%;
    border: 1px solid #b8b8b8;
    padding: 10px;
    border-radius: 5px;
    top: 30%;
    left: 25%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
  }

  .ModalBody {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  .ModalBody > h6 {
    font-weight: 400;
    text-align: center;
  }
}
