.refer-list-shimmer-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
}

.refer-item-shimmer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
}

.first-row-shimmer {
  width: 45%;
  max-width: 45%;
}
.second-row-shimmer {
  width: 23%;
  max-width: 23%;
}
.third-row-shimmer {
  width: 23%;
  max-width: 23%;
}

.row-shimmer-line {
  width: 100%;
  height: 15px;
  border-radius: 5px;
}

@media screen and (max-width: 968px) {
  .refer-list-shimmer-container {
    width: 100%;
  }
  .refer-item-shimmer-container {
    width: 100%;
  }
}

@media screen and (max-width: 868px) {
  .refer-list-shimmer-container {
    width: 100%;
  }
  .refer-item-shimmer-container {
    width: 100%;
  }
}
@media screen and (max-width: 668px) {
  .refer-list-shimmer-container {
    width: 100%;
  }
  .refer-item-shimmer-container {
    width: 100%;
  }
}

.refer-item-shimmer-container.bannerContainer {
  height: 222px;
  display: block;
}

.refer-item-shimmer-container.bannerContainer .bannerMainShimmer,
.refer-item-shimmer-container.bannerBottomContainer .bannerBottomShimmer {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.refer-item-shimmer-container.bannerContainer
  .bannerMainShimmer
  .row-shimmer-line {
  width: 100%;
  height: 100%;
}

.refer-item-shimmer-container.bannerBottomContainer {
  width: 50%;
  height: auto;
  margin-top: -75px;
  margin-left: 30px;
  flex-flow: column;
}

.refer-item-shimmer-container.bannerBottomContainer
  .bannerBottomShimmer
  .bannerBottomInput {
  height: 40px;
}

@media screen and (max-width: 767px) {
  .refer-item-shimmer-container.bannerBottomContainer {
    width: 80%;
    margin: -75px auto 2em auto;
    gap: 5px;
  }

  .refer-item-shimmer-container.bannerBottomContainer .row-shimmer-line {
    margin-bottom: 0;
  }
}
