.ActiveTile_activeTileWrap {
  background: #6788da;
  border-radius: 6px;
  padding: 15px 31px 15px 31px;
  display: flex;
  gap: 20px;
  position: relative;
  margin: 0px -10px;
  align-items: center;
  box-shadow: 4px 4px 5px 0px rgb(95 144 240 / 27%);
}

.ActiveTile_pointer {
  position: absolute;
  top: 10px;
  left: 13px;
  width: 16px;
  height: 16px;
  background: rgb(255 255 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #b3c4ed;
}

.ActiveTile_displayLogo {
}

.ActiveTile_activeTileContent {
  width: 100%;
}

.ActiveTile_activeTileTitle {
  border-bottom: 1px solid rgba(255, 255, 255, 0ActiveTile_6);
  margin-bottom: 8px;
}

.ActiveTile_activeTileTitleText {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;

  color: #ffffff;
  padding-bottom: 6px;
}

.ActiveTile_activeTileSubTitleText {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 5px;
}

.ActiveTile_activeTileDesc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.ActiveTile_dummyActiveTileHeight {
  border-left: 2px solid #6a8adb;
  height: 15px;
  width: fit-content;
  margin-left: 9px;
}
@media screen and (max-width: 768px) {
  .ActiveTile_displayLogo {
    position: absolute;
    top: -20px;
    right: 25px;
  }
  .ActiveTile_activeTileWrap {
    background: #6788da;
    border-radius: 6px;
    padding: 11px 15px 11px 40px;
    display: flex;
    grid-gap: 20px;
    gap: 20px;
    position: relative;
    margin: 0px -10px;
    align-items: center;
  }

  .ActiveTile_pointer {
    position: absolute;
    top: 15px;
    left: 13px;
    width: 18px;
    height: 18px;
    background: rgb(255 255 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #b3c4ed;
  }
  .ActiveTile_activeTileTitleText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    padding-bottom: 5px;
  }
  .ActiveTile_activeTileSubTitleText {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    padding-bottom: 5px;
  }

  .ActiveTile_activeTileDesc {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
  }
}
