.DispatchCard_disptachCardWrap {
}

.DispatchCard_cardTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 8px;
}

.DispatchCard_detailsWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.DispatchCard_detailsTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.DispatchCard_detailsValue {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
}

.DispatchCard_orderTrackingCta {
  display: flex;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.DispatchCard_orderTrackingCtaText {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  color: #ffffff;
  text-underline-offset: 3px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .DispatchCard_cardTitle {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .DispatchCard_detailsWrap {
    margin-bottom: 5px;
  }
  .DispatchCard_detailsTitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }

  .DispatchCard_detailsValue {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
  }

  .DispatchCard_orderTrackingCta {
    margin-top: 10px;
  }

  .DispatchCard_orderTrackingCtaText {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
  }
}
