.PaymentPendingTile_paymentPendingWrap {
  background: #6788da;
  border-radius: 6px;
  padding: 23px 28px 23px 12px;
  display: flex;
  grid-gap: 10px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin: 0px -10px;
}

.PaymentPendingTile_leftTile {
  display: flex;
  align-items: center;
}

.PaymentPendingTile_iconTile {
  margin-right: 10px;
}

.PaymentPendingTile_Title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.PaymentPendingTile_rightTile {
  display: flex;
  align-items: center;
}

.PaymentPendingTile_paymentModeTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #bbcfff;
  cursor: pointer;
  margin-right: 20px;
}

.PaymentPendingTile_payNowCta {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .PaymentPendingTile_paymentPendingWrap {
    background: #6788da;
    border-radius: 6px;
    padding: 15px 18px 15px 12px;
    display: flex;
    grid-gap: 10px;
    position: relative;
    align-items: unset;
    justify-content: unset;
    margin: 0px -10px;
    flex-direction: column;
  }

  .PaymentPendingTile_rightTile {
    justify-content: flex-end;
  }

  .PaymentPendingTile_payNowCta {
    font-size: 12px;
  }
  .PaymentPendingTile_paymentModeTitle {
    font-size: 12px;
  }
}
