.ProcessingCard_processingWrap {
}

.ProcessingCard_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff; 
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.ProcessingCard_statusWrap {
  display: flex;
  align-items: center;
}

.ProcessingCard_icon {
}

.ProcessingCard_subTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .ProcessingCard_title {
    font-size: 14px;
    padding-bottom: 5px;
  }

  .ProcessingCard_statusWrap {
    font-size: 10px;
  }

  .ProcessingCard_subTitle {
    font-size: 10px;
  }
}
