.Timeline_tileWrap {
  padding: 0px 10px;
  margin: 0px 3px;
}

.Timeline_activeTile {
}

.Timeline_tileContentWrap {
  display: flex;
  align-items: center;
}

.Timeline_tileLogo {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 5px 0px; */
}

.Timeline_tileContentTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #4f585e;
  margin-left: 10px;
}

.Timeline_tileContentTitlePending {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #8897a2;
  margin-left: 10px;
}

.Timeline_tileContentWrap {
}

.Timeline_tileSeperator {
  border-left: 2px solid #afc6ff;
  height: 24px;
  width: fit-content;
  margin-left: 9px;
}

.Timeline_tileSeperatorDone {
  border-left: 2px solid #6a8adb;
  height: 12px;
  width: fit-content;
  margin-left: 9px;
}

.Timeline_tilePendingLogo {
  background: #6a8adb;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.Timeline_timelineWrap {
  margin-bottom: 25px;
}

.Timeline_dateWrap {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #8897a2;
  align-self: center;
}

.Timeline_doneWrap {
  display: flex;
  justify-content: space-between;
  margin-right: -9px;
}

.Timeline_eddText {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #8897a2;
  padding-left: 43px;
  margin-top: 4px;
}
.Timeline_tilePendingLogo {
  margin-left: -1px;
}
.Timeline_tileLogo img {
  padding: 3px 0px;
}

.Timeline_dummyActiveTileHeight {
  border-left: 2px solid #6a8adb;
  height: 11px;
  width: fit-content;
  margin-left: 9px;
}

.Timeline_doctorDetailWrap {
}

.Timeline_doctorClose {
  position: absolute;
  right: 15px;
  top: 8px;
  font-size: 20px;
  color: #555;
}

.Timeline_doctorHeaderWrapper {
  padding: 13px 17px;
  border-bottom: 1px solid #dce4f1;
}

.Timeline_doctorHeaderWrapperTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #4f585e;
}
@media screen and (max-width: 768px) {
  .Timeline_tileContentTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    text-transform: capitalize;
    color: #4f585e;
  }

  .Timeline_tileContentTitlePending {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #8897a2;
  }

  .Timeline_dateWrap {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #8897a2;
  }

  .Timeline_dummyHeight {
    border-left: 2px solid #6a8adb;
    height: 10px;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 22px;
  }
  .Timeline_eddText {
    font-size: 12px;
  }

  .Timeline_ratingMobDoc {
    display: flex;
    align-items: center;
    border-left: 2px solid #6a8adb;
    margin-left: 9px;
    padding-left: 19px;
    cursor: pointer;
    height: 17px;
  }

  .Timeline_ratingMobDocText {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #0071bd;
  }

  .Timeline_ratingMobDocIcon {
    margin-left: 5px;
  }
  .Timeline_tileSeperator {
    border-left: 2px solid #afc6ff;
    height: 18px;
    width: fit-content;
    margin-left: 9px;
  }

  .Timeline_tileSeperatorDone {
    font-size: 25px;
    height: 12px;
    margin-left: 9px;
  }

  .Timeline_timelineWrap {
    margin: 0px 15px 25px 15px;
  }

  .Timeline_tilePendingLogo {
    margin-left: -1px;
  }

  .Timeline_tileLogo img {
    padding: 3px 0px;
  }
}
