.previewModalContainer .MuiDialog-paperScrollPaper {
  padding: 20px 20px 0px 20px !important;
}

.previewModalContainer .MuiDialog-paperWidthSm {
  max-width: 70vw;
}

.previewModalImage {
  max-width: 70vw;
  max-height: 70vh;
}

@media screen and (max-width: 468px) {
  .previewModalContainer .MuiDialog-paperWidthSm {
    max-width: 95vw;
  }

  .previewModalImage {
    max-width: 95vw;
    max-height: 95vh;
    overflow: auto;
    object-fit: contain;
  }
}
