.has-text-align-right {
  text-align: right;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-left {
  text-align: left;
}

kbd {
  font-family: monospace;
  font-size: 1em;
}

.htmlSection > p > a {
  color: #0071bc;
}
