.blog-rectangle {
  position: fixed !important;
  top: unset;
  left: unset;
  bottom: 0;
  margin: 0px !important;
  width: 100%;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  max-width: 100% !important;
}
