.article-card-shimmer-container {
  display: flex;
  flex-flow: column;
}

.article-card-shimmer-wrapper {
  width: 100%;
  height: 168px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
}

.article-card-shimmer-column-one {
  box-sizing: border-box;
  padding: 10px;
  width: 70%;
  display: flex;
  flex-flow: column;
}
.article-card-shimmer-column-two {
  height: 150px;
  width: 30%;
}
.article-card-shimmer-line-one {
  width: 100px;
  height: 15px;
  border-radius: 5px;
}
.article-card-shimmer-line-two {
  width: 250px;
  height: 15px;
  border-radius: 5px;
}
.article-card-shimmer-line-three {
  width: 300px;
  height: 35px;
  border-radius: 5px;
}

.article-card-shimmer-column-two-image {
  width: 100%;
  height: inherit;
  border-radius: 10px;
}

@media screen and (max-width: 568px) {
  .article-card-shimmer-wrapper {
    flex-flow: column;
    height: auto;
  }
  .article-card-shimmer-column-one {
    width: 100%;
    order: 2;
  }
  .article-card-shimmer-column-two {
    width: 100%;
    order: 1;
  }
}
