.docCard_DoctorCard__wrap {
  background: #6788da;
  border-radius: 6px;
  margin-top: 30px;
  position: relative;
  padding: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
  color: #fff;
  font-family: "Inter";
  margin-bottom: 10px;
}

.docCard_DoctoImageWeb {
  display: block;
  position: relative;
}

.docCard_DoctoImageMob {
  display: none;
}
.docCard_doctor_details {
  width: 100%;
}

.docCard_doctorTitle {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  padding: 15px 0px;
  border-bottom: 1px solid #ffffff87;
}

.docCard_doctorSubTitle {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 600;
  padding: 11px 0px;
  align-items: center;
}

.docCard_subText {
}

.docCard_subText del {
  font-size: 14px;
  font-weight: 300;
  font-family: "Inter";
}
@media screen and (max-width: 468px) {
  .docCard_subText del {
    font-size: 14px;
    font-weight: 300;
    font-family: "Inter";
  }
}
.docCard_saveMoreWrap {
  display: flex;
  grid-gap: 10px;
  gap: 7px;
  background: #41a45c;
  padding: 7px 10px;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  top: -20px;
  left: 0px;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 700;
}

.docCard_saveMoreWrap img {
  width: 20px;
}

.docCard_free {
  font-size: 18px;
  font-weight: 700;
}

.docCard_phoneIconWeb {
  position: absolute;
  bottom: -8px;
  right: 8px;
}

@media screen and (max-width: 468px) {
  .docCard_DoctorCard__wrap {
    margin: 15px;
    margin-top: 30px;
    padding: 15px;
  }
  .docCard_DoctoImageWeb {
    display: none;
  }

  .docCard_DoctoImageMob {
    display: block;
    position: relative;
  }

  .docCard_phoneIconMob {
    position: absolute;
    bottom: -6px;
    right: -2px;
  }

  .docCard_doctorTitle {
    font-size: 14px;
  }
  .docCard_free {
    font-size: 16px;
  }
}
