.estimatedDeliveryWrap {
  background: #e7f3fb;
  padding: 11px 15px;
  display: flex;
  justify-content: space-between;
  margin: 14px;
  border-radius: 5px;
  margin-bottom: 0px;
}

.estimatedDeliveryWrapViewDetails {
  background: #e7f3fb;
  padding: 11px 15px;
  display: flex;
  justify-content: space-between;
  margin: 14px;
  border-radius: 5px;
}

.estimatedDeliveryText {
  font-size: 14px;
  color: #4f585e;
  font-weight: 600;
  margin-right: 4px;
}

.estimateDeliveryValue {
  font-size: 14px;
  font-weight: 700;
  color: #0071bd;
}

@media screen and (max-width: 768px) {
  .estimatedDeliveryWrap {
    width: 100%;
    padding: 5px 15px 8px 15px;
    margin: 0;
    position: fixed;
    bottom: 69px;
    border-radius: 0;
    filter: drop-shadow(0px -3px 12px rgba(0, 0, 0, 0.11));
    z-index: 1;
  }

  .estimatedDeliveryText {
    font-size: 12px;
  }

  .estimateDeliveryValue {
    font-size: 12px;
  }
}
