.payment_paymentMode_wrap {
  border: 1px solid #e3e6ec;
  border-radius: 10px;
  padding: 20px 15px;
  margin-bottom: 15px;
}

.payment_paymentMode__Header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.payment_header__title {
  color: #40464d;
  font-weight: 700;
  font-size: 16px;
}

.payment_header__Subtitle {
  color: #0071bd;
  font-weight: 700;
  font-size: 16px;
}

.payment_paymentMode__details {
  padding: 0px 40px;
}

.payment_selection__wrap {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}

.payment_details__Note {
  color: #4f585e;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
}

.payment_paymentMent__footer {
  border-top: 1px solid #dce4f1;
  padding: 15px 0px 0px 0px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.payment_footer__Note {
  color: #4f585e;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .payment_paymentMode_wrap {
    border: none;
    border-radius: 0px;
    padding: 0px 10px;
    margin-bottom: 15px;
  }
  .payment_paymentMode__details {
    padding: 0px 0px;
  }
  .payment_selection__wrap {
    display: flex;
    gap: 15px;
    padding-top: 15px;
  }
  .payment_seperator {
    background: #ecf2ff;
    height: 15px;
  }
  .payment_paymentMode_paymentType {
    color: #0071bc;
    font-size: 12px;
    font-weight: 600;
  }
  .payment_paymentMode__Header_inner {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .payment_paymentMode__Header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 468px) {
  .payment_selection__wrap {
    display: flex;
    gap: 15px;
    padding-top: 0px;
  }
}
