.rdb_radiobutton__wrap {
  border: 1px solid #8897a2;
  padding: 15px 10px;
  border-radius: 6px;
  font-size: 12px;
  color: #40464d;
  font-weight: 600;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.rdb_radioSelect {
  border: 1.8px solid #848a8e;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #fff;
  position: relative;
}

.rdb_radioInnerselect {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.rdb_labelText {
}

.rdb_selection .rdb_radiobutton__wrap {
  background: #dcf1ff;
  border-color: #0071bd;
  color: #0071bd;
}

.rdb_selection .rdb_radioInnerselect {
  background: #0071bd;
}

.rdb_selection .rdb_radioSelect {
  border-color: #0071bd;
}
