.addNewDetailsBtn_btnWrapper {
  width: 100%;
  border: 1px solid #0071bc;
  border-radius: 4px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  color: #0071bd;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
