.addressCard_AddressCard_wrap {
  border: 1px solid #c6c9cc;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.addressCard_selected {
  border-color: #41a45c;
}

.addressCard_addressType {
  font-weight: 700;
  font-size: 14px;
  color: #4f585e;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.addressCard_addressSection {
  color: #8897a2;
  font-weight: 400;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.addressCard_addressCta_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.addressCard_addressCta {
  color: #0071bc;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}

.addressCard_addressCta_select {
  color: #848a8e;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.addressCard_addressCta_select img {
  width: 19px;
  height: 18px;
}

.addressCard_addressCta_selectRing {
  width: 17px;
  height: 17px;
  border: 1.8px solid #848a8e;
  border-radius: 50%;
}

.addressCard_unServicible {
  color: #ff7373;
  font-weight: 600;
  font-size: 12px;
}
