.patientCard_wrap {
  border: 1px solid #c6c9cc;
  border-radius: 6px;
  padding: 10px;
  width: 60%;
  margin-bottom: 15px;
  min-width: 180px;
  cursor: pointer;
}

.patientCard_selected {
  border-color: #41a45c;
}

.patientCard_patientName {
  font-weight: 700;
  font-size: 14px;
  color: #4f585e;
}

.patientCard_relationName {
  font-weight: 400;
  font-size: 12px;
  color: #4f585e;
  text-transform: capitalize;
}

.patientCard_patientCta_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.patientCard_patientCta {
  color: #0071bc;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}

.patientCard_patientCta_select {
  color: #848a8e;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.patientCard_patientCta_selectRing {
  width: 17px;
  height: 17px;
  border: 1.8px solid #848a8e;
  border-radius: 50%;
}
