.doctorsBannerMainContainer {
  position: absolute;
  /* bottom: 30px; */
  bottom: 1.9vw;
  /* right: 22px; */
  right: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctorsBannerMainContainer span {
  color: #333;
  /* font-size: 16px; */
  font-size: 1.1vw;
  font-weight: 600;
  /* margin-bottom: 25px; */
  margin-bottom: 1.8vw;
}

.doctorsBannerContainer {
  display: flex;
  align-items: center;
  /* gap: 8px; */
  gap: 0.6vw;
}

.doctorsBannerContainer div {
  display: flex;
  align-items: center;
  /* gap: 6px; */
  gap: 0.4vw;
}

.doctorsBannerContainer div img {
  /* width: 35px; */
  width: 2.2vw;
}

.doctorsBannerContainer div p {
  /* font-size: 13px; */
  font-size: 0.85vw;
  font-weight: 600;
  color: #003055;
  width: fit-content;
  /* max-width: 125px; */
  max-width: 8vw;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1875px) {
  .doctorsBannerMainContainer {
    bottom: 1.5vw;
    right: 1.6vw;
  }

  .doctorsBannerMainContainer span {
    font-size: 1vw;
    margin-bottom: 1.8vw;
  }

  .doctorsBannerContainer {
    gap: 0.6vw;
  }

  .doctorsBannerContainer div {
    gap: 0.4vw;
  }

  .doctorsBannerContainer div img {
    width: 2vw;
  }

  .doctorsBannerContainer div p {
    font-size: 0.8vw;
    max-width: 7.2vw;
  }
}

@media screen and (min-width: 2125px) {
  .doctorsBannerMainContainer {
    bottom: 1.4vw;
    right: 1.5vw;
  }

  .doctorsBannerMainContainer span {
    font-size: 0.9vw;
    margin-bottom: 1.6vw;
  }

  .doctorsBannerContainer {
    gap: 0.5vw;
  }

  .doctorsBannerContainer div {
    gap: 0.3vw;
  }

  .doctorsBannerContainer div img {
    width: 1.8vw;
  }

  .doctorsBannerContainer div p {
    font-size: 0.8vw;
    max-width: 7.2vw;
  }
}

@media screen and (min-width: 2125px) {
  .doctorsBannerMainContainer {
    bottom: 1.4vw;
    right: 1.8vw;
  }

  .doctorsBannerMainContainer span {
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
  }

  .doctorsBannerContainer {
    gap: 0.4vw;
  }

  .doctorsBannerContainer div {
    gap: 0.2vw;
  }

  .doctorsBannerContainer div img {
    width: 1.6vw;
  }

  .doctorsBannerContainer div p {
    font-size: 0.7vw;
    max-width: 7vw;
  }
}

@media screen and (max-width: 1200px) {
  .doctorsBannerMainContainer {
    bottom: 2vw;
    right: 1.8vw;
  }

  .doctorsBannerMainContainer span {
    font-size: 1.3vw;
    margin-bottom: 2vw;
  }

  .doctorsBannerContainer {
    gap: 0.8vw;
  }

  .doctorsBannerContainer div {
    gap: 0.6vw;
  }

  .doctorsBannerContainer div img {
    width: 2.4vw;
  }

  .doctorsBannerContainer div p {
    font-size: 1vw;
    max-width: 9vw;
  }
}

@media screen and (max-width: 1055px) {
  .doctorsBannerContainer div p {
    max-width: 9.1vw;
  }
}

@media screen and (max-width: 970px) {
  .doctorsBannerMainContainer {
    right: 2.4vw;
  }
}

@media screen and (max-width: 950px) {
  .doctorsBannerMainContainer {
    right: 2.6vw;
  }
}

@media screen and (max-width: 925px) {
  .doctorsBannerMainContainer {
    right: 2.8vw;
  }
}

@media screen and (max-width: 901px) {
  .doctorsBannerMainContainer {
    right: 2.1vw;
  }
}

@media screen and (max-width: 846px) {
  .doctorsBannerContainer div p {
    max-width: 9.2vw;
  }
  .doctorsBannerMainContainer {
    right: 1.8vw;
  }
}

@media screen and (max-width: 768px) {
  .doctorsBannerMainContainer {
    bottom: 3.2vw;
    right: 5.8vw;
  }

  .doctorsBannerMainContainer span {
    font-size: 2.1vw;
    margin-bottom: 3.2vw;
  }

  .doctorsBannerContainer {
    gap: 1.2vw;
  }

  .doctorsBannerContainer div {
    gap: 1vw;
  }

  .doctorsBannerContainer div img {
    width: 3.5vw;
  }

  .doctorsBannerContainer div p {
    font-size: 1.6vw;
    font-weight: 600;
    max-width: 15vw;
  }
}
