.orderFlowMainContainer {
  background-color: #fff;
  padding: 20px 15px 15px 15px;
  margin: 0px auto;
  width: 75vw;
  display: flex;
  justify-content: center;
}

.orderFlowFirstContainer {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  width: 70%;
  max-width: 70%;
}

.orderFlowSecondContainer {
  min-width: 30%;
  width: 32%;
  margin-left: 20px;
}

.orderFlowSecondInsideContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 6rem;
}

.orderFlowSteperMainContainer,
.orderFlowSteperContainer,
.orderFlowSteperInsideContainer {
  display: flex;
  align-items: center;
}

.orderFlowSteperMainContainer {
  margin-bottom: 20px;
}

.orderFlowSteperSelectedElement {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #30b94f;
  border-radius: 20px;
  margin-right: 10px;
}

.orderFlowSteperSelectedElement img {
  width: 11px;
}

.orderFlowSteperSelectedElement div {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 8px;
}

.orderFlowSteperUnSelectedElement {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  margin-right: 10px;
  border: 1px solid #e2ddd7;
}

.orderFlowSteperUnSelectedElement div {
  display: none;
}

.orderFlowSteperElementFont {
  font-size: 12px;
  width: 50%;
  line-height: 18px;
  font-weight: 500;
}

.orderFlowSteperElementSelectedFont {
  font-size: 13px;
  width: 50%;
  line-height: 18px;
  font-weight: 600;
}

.medCardStepperHr {
  width: 4vw;
  border: none;
  margin-right: 10px;
}

.orderFlowSavingsDocMainContainer {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
  border-radius: 4px;
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.orderFlowSavingsDocMainContainer img {
  width: 48px;
  border-radius: 50%;
}

.orderFlowSavingsDocMainContainer div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.orderFlowSavingsDocMainContainer div span:nth-child(1) {
  color: #333;
  font-weight: 600;
  font-size: 16px;
}

.orderFlowSavingsDocMainContainer div span:nth-child(2) {
  color: #333;
  font-weight: 400;
  font-size: 14px;
}

.orderFlowSavingsDocMainContainer div div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.orderFlowSavingsDocMainContainer div div span {
  font-weight: 700;
  /* font-family: "Century Gothic", sans-serif; */
  color: #333;
  font-size: 14px !important;
}

.orderFlowSavingsDocMainContainer div div del {
  font-weight: 700;
  /* font-family: "Century Gothic", sans-serif; */
  color: #333;
  font-size: 14px;
}

.terms-rectangle {
  width: 100%;
  padding: 20px 20px 0px;
}

.titleWrap {
  color: #40464d;
  font-size: 16px;
  font-weight: 600;
  margin: 0px -15px 10px -15px;
  padding: 0px 15px 10px 15px;
  border-bottom: 1px solid #dce1e4;
}

.closeWrap {
  color: #40464d;
  position: absolute;
  top: 11px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
}

.textWrap {
  color: #40464d;
  font-size: 14px;
  margin-bottom: 15px;
}

.tmProceedBtnContainer {
  padding: 14px;
  flex-direction: column;
}

#tmProceedBtn,
#tmTrackBtn,
#tmPayModeBtn,
#tmPayBtn {
  width: 100%;
}

#tmPayModeBtn {
  margin-bottom: 15px;
}

.upload-rx-icon {
  width: 250px;
  margin: 15px auto 0 auto;
}

.scrollTopBtn {
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 1;
}

.scrollTopBtn img {
  width: 48px;
  height: 48px;
}

@media (max-width: 900px) {
  .orderFlowSteperSelectedElement,
  .orderFlowSteperUnSelectedElement {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 8px;
  }

  .orderFlowSteperSelectedElement img {
    width: 9px;
  }

  .orderFlowSteperSelectedElement div {
    width: 5px;
    height: 5px;
    border-radius: 5px;
  }

  .orderFlowSteperElementFont {
    font-size: 10px;
  }

  .orderFlowSteperElementSelectedFont {
    font-size: 11px;
  }

  .medCardStepperHr {
    margin-right: 6px;
  }
}

.orderFlowBillMainContainer {
  background-color: #fff;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
  border-radius: 4px;
}

.orderFlowBillMainContainer p {
  color: #333;
  font-weight: 700;
  font-size: 16px;
  padding: 15px;
  margin: 0px;
  /* font-family: "Century Gothic", sans-serif; */
}

.orderFlowBillMainContainer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: #fff;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
}

.orderFlowBillMainContainer div:last-child {
  background-color: #e5f1f8;
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 4px;
}

.billEstimatedTotalContainer span {
  font-weight: 700;
  /* font-family: "Century Gothic", sans-serif; */
  color: #333;
}

.orderFlowSavingsMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0px;
  background: linear-gradient(180deg, #0071bc 0%, #6ec1fd 100%);
  border-radius: 10px;
  margin-top: 30px;
}

.orderFlowSavingsMainContainer span {
  color: #fff;
}

.orderFlowSavingsMainContainer span:nth-child(1) {
  font-size: 30px;
  font-weight: 700;
  /* font-family: "Century Gothic", sans-serif; */
}

.orderFlowSavingsMainContainer span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  /* font-family: "Century Gothic", sans-serif; */
  width: 70%;
}

.orderFlowSavingsMainContainer span:nth-child(3) {
  font-size: 37px;
  font-weight: 700;
  /* font-family: "Century Gothic", sans-serif; */
  margin-top: 15px;
}

.orderFlowPaymentModeMainContainer {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 20px 50px rgba(49, 45, 43, 0.1);
  border-radius: 4px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderFlowPaymentModeInsideContainer p {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  /* font-family: "Century Gothic", sans-serif; */
  margin: 0;
  padding: 0;
}

.orderFlowPaymentTypeSelectedMainContainer,
.orderFlowPaymentTypeUnSelectedMainContainer,
.orderFlowPaymentTypeDisabledMainContainer {
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
}

.orderFlowPaymentTypeSelectedMainContainer {
  background-color: #d3f0e3;
  border: 1px solid #22b573;
}

.orderFlowPaymentTypeUnSelectedMainContainer,
.orderFlowPaymentTypeDisabledMainContainer {
  background-color: #fff;
  border: 1px solid #bdbdbd;
}

.orderFlowPaymentTypeDisabledMainContainer {
  pointer-events: none;
  opacity: 0.6;
}

.orderFlowPaymentTypeSelectedMainContainer span,
.orderFlowPaymentTypeUnSelectedMainContainer span {
  color: #333;
  font-weight: 600;
  font-size: 14px;
}

.orderFlowPaymentTypeContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.orderFlowSelectedPaymentTypeContainer {
  width: 20px;
  height: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23b574;
  border-radius: 50%;
}

.orderFlowUnSelectedPaymentTypeContainer {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 50%;
}

.orderFlowUnSelectedPaymentTypeContainer img {
  display: none;
}

.orderFlowPaymentTypeContainer img:nth-child(1) {
  width: 11px;
}

.orderFlowPaymentTypeContainer img:nth-child(2) {
  width: 32px;
}

.orderFlowPaymentTypeContainer img:nth-child(3) {
  width: 32px;
}

.orderFlowPaymentTypeContainer img:nth-child(4) {
  width: 50px;
}

.orderFlowPaymentTypeContainer img:nth-child(5) {
  width: 50px;
}

.orderFlowSelectedPayment {
  font-size: 16px;
  color: #333;
  font-weight: 400;
}

.couponRemoveText {
  display: block;
  font-weight: 600;
  color: #dd2200;
  font-size: 13px;
  cursor: pointer;
}

.TncText {
  background: none;
  font-size: 11px;
  padding: 0px;
  margin-top: 0px;
  font-weight: 600;
  color: #0071bc;
  display: block;
  cursor: pointer;
}

.orderFlowPaymentTypeCheck {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}

.order-processing-modal {
  width: 100%;
  background-color: #72c187 !important;
  border-radius: 10px !important;
}

.rightSectionLoader {
  width: 100%;
  /* height: 44px; */
  border-radius: 4px;
  /* margin-bottom: 15px;
  margin-top: 15px; */
}

.productDetailsDoctorsSection div span:nth-child(2) {
  font-size: 16px;
}

.productDetailsPriceSection span:nth-child(1) {
  font-size: 16px;
  margin: 8px 0px 0px 0px;
}

.productDetailsMedicineFirstContainer span {
  font-size: 16px;
}

@media screen and (max-width: 468px) {
  .order-processing-modal {
    width: 100vw;
    background-color: #72c187 !important;
    border-radius: 10px !important;
    height: 100%;
    display: flex !important;
    align-items: center;
    flex-direction: row !important;
    justify-content: center;
    position: fixed !important;
    top: 0;
    bottom: 0;
    margin: 0px !important;
    max-height: 100vh !important;
  }
}
.orderProcessing_img img {
  -webkit-animation: spin 6s linear infinite;
  -moz-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.orderPlacing_wrap {
  align-items: center;
  text-align: center;
  padding: 90px 0px;
}

.orderProcessing {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.orderProcessing_text {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  font-family: "Inter";
}

@media screen and (max-width: 1200px) {
  .orderFlowMainContainer {
    padding: 20px 10px 10px 10px;
    width: 90vw;
  }
  .orderFlowSecondContainer {
    margin: 10px 0px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .orderFlowSteperMainContainer {
    justify-content: center;
    margin-bottom: 15px;
  }
  .orderFlowMainContainer {
    padding: 20px 0px 0px 0px;
    width: 100vw;
    flex-direction: column;
  }
  .orderFlowFirstContainer {
    width: 100%;
    max-width: 100%;
    z-index: 0;
  }
  .orderFlowSecondInsideContainer {
    /* flex-direction: column-reverse; */
  }
  .orderFlowBillMainContainer {
    /* margin: 0px 20px; */
    margin: 20px 20px 12vh 20px;
  }
  .orderFlowSavingsMainContainer {
    /* margin: 20px 20px 12vh 20px; */
    margin: 0px 20px;
  }
  .orderFlowPaymentModeMainContainer {
    margin: 10px 1.5rem 30px 1.5rem;
  }
  .orderFlowSavingsDocMainContainer {
    margin: 0px 1.5rem 12vh 1.5rem;
  }
  .upload-rx-icon {
    display: none;
  }
  .tmProceedBtnContainer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    filter: drop-shadow(0px -3px 12px rgba(0, 0, 0, 0.11));
    flex-direction: row;
  }
  .tmProceedBtnMobContainer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    filter: drop-shadow(0px -3px 12px rgba(0, 0, 0, 0.11));
    padding: 14px 16px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .tmProceedBtnMobContainer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .tmProceedBtnMobContainer div span:nth-child(1) {
    font-weight: 700;
    font-size: 14px;
    color: #4f585e;
  }
  .tmProceedBtnMobContainer div span:nth-child(2) {
    font-weight: 600;
    font-size: 12px;
    color: #3a91cc;
  }
  #tmPayModeBtn {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 568px) {
  .orderFlowSteperMainContainer {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .orderFlowSteperMainContainer {
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .orderFlowSteperMainContainer::-webkit-scrollbar {
    display: none;
  }
  .orderFlowSteperInsideContainer {
    margin: 0px 5px;
  }
  .orderFlowMainContainer {
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    width: 100vw;
  }
  .orderFlowSecondContainer {
    margin: 0px;
    width: auto;
    z-index: 1;
  }
  .orderFlowSecondInsideContainer {
    /* flex-direction: column-reverse; */
    /* position: relative; */
  }
  .orderFlowBillMainContainer {
    margin: 20px 1.5rem 13vh 1.5rem;
  }
  .orderFlowBillMainContainer p {
    font-size: 14px;
  }
  .orderFlowBillMainContainer div {
    font-size: 14px;
  }
  .orderFlowSavingsMainContainer {
    margin: 0px 1.5rem;
  }
  .orderFlowSavingsMainContainer span:nth-child(1) {
    font-size: 24px;
  }

  .orderFlowSavingsMainContainer span:nth-child(2) {
    font-size: 14px;
  }

  .orderFlowSavingsMainContainer span:nth-child(3) {
    font-size: 28px;
  }

  .orderFlowPaymentModeInsideContainer p {
    font-size: 14px;
  }

  .orderFlowPaymentModeMainContainer {
    margin: 5px 1.5rem 0px 1.5rem;
  }

  .orderFlowPaymentModeInsideContainer p {
    font-size: 13px;
  }

  .orderFlowPaymentTypeSelectedMainContainer span,
  .orderFlowPaymentTypeUnSelectedMainContainer span {
    font-size: 13px;
  }

  .orderFlowSavingsDocMainContainer {
    margin: 0px 1.5rem 20px 1.5rem;
  }

  .orderFlowSavingsDocMainContainer div span:nth-child(1) {
    font-size: 13px;
  }

  .orderFlowSavingsDocMainContainer div span:nth-child(2) {
    font-size: 13px;
  }

  .orderFlowSavingsDocMainContainer div div span {
    font-size: 13px !important;
  }

  .orderFlowSavingsDocMainContainer div div del {
    font-size: 13px;
  }

  .orderFlowSelectedPayment {
    font-size: 14px;
  }

  .couponRemoveText {
    font-size: 12px;
  }

  .terms-rectangle {
    position: fixed !important;
    top: unset;
    left: unset;
    bottom: 0;
    margin: 0px !important;
    width: 100%;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }

  .titleWrap {
    color: #40464d;
    font-size: 16px;
    font-weight: 600;
    margin: 0px -15px 10px -15px;
    padding: 10px 15px;
    border-bottom: 1px solid #dce1e4;
  }

  .closeWrap {
    color: #40464d;
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }

  .textWrap {
    color: #40464d;
    font-size: 14px;
    margin-bottom: 15px;
  }
}
