.location-rectangle {
  position: fixed !important;
  top: unset;
  left: unset;
  bottom: 0;
  margin: 0px !important;
  width: 100%;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  padding: 20px 20px 0 !important;
}
@media screen and (min-width: 468px) {
  .location-rectangle {
    position: absolute !important;
    top: 10%;
    left: 20%;
    bottom: unset !important;
    margin: 0px !important;
    width: unset !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
}

#responsive-dialog-title {
  z-index: 10000 !important;
}

.dummyCartIcon {
  width: 60px;
  height: 23px;
}
