.profileMenuBtn {
  padding: 0 !important;
  width: max-content !important;
  height: max-content !important;
  border-radius: 50%;
}

.profileMenuBtn img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.profileMenuBtn .avatarIcon {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.profileInfo {
  padding: 1.5em 1em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  gap: 0 1em;
  border-bottom: 1px solid #ccc;
}

.profileInfo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.profileInfo .profileData {
  grid-column: 2/3;
  grid-row: 1/3;
}

.profileInfo h5 {
  font-weight: 700;
  margin-bottom: 0.25em;
  /* font-family: "Raleway", sans-serif !important; */
  /* grid-column: 2/3;
  grid-row: 1/2; */
}

.profileInfo p {
  /* grid-column: 2/3;
  grid-row: 2/2; */
  margin-bottom: 0;
  font-size: 0.95em;
  color: #777777;
}
