.orderCardContainer {
  padding: 24px;
  border: 1px solid #cbd5dc;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 24px;
}

.orderCardStatusContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.orderCardDates {
  display: flex;
  align-items: center;
}

.orderCardDates span {
  font-weight: 600;
  font-size: 14px;
  color: #4f585e;
}

.orderCardDates span:nth-child(1) {
  margin-right: 32px;
}

.orderCardStatus {
  display: flex;
  margin-bottom: 14px;
}

.orderCardStatus img {
  width: 56px;
  height: 56px;
  margin-right: 12px;
}

.orderCardStatusImg {
  width: 54px !important;
}

.orderCardStatus div {
  display: flex;
  flex-direction: column;
}

.orderCardStatus span:nth-child(1) {
  font-weight: 700;
  font-size: 16px;
  color: #4565b4;
  margin-bottom: 6px;
}

.orderCardStatus span:nth-child(2) {
  font-weight: 600;
  font-size: 14px;
  color: #4f585e;
}

.orderCardmedNameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0px 32px 0px;
}

.orderCardmedNameContainer span {
  font-weight: 700;
  font-size: 16px;
  color: #4f585e;
}

.orderCardMedName {
  display: flex;
  flex-direction: column;
}

.orderCardMedName span {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
  max-width: 55vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orderCardMedName span:last-child {
  margin: 0px;
}

.orderCardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderCardFooterButtons {
  display: flex;
  align-items: center;
}

.orderCardPatient {
  background-color: #edf2ff;
  border-radius: 4px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderCardPatient span {
  font-weight: 700;
  font-size: 16px;
  color: #4f585e;
}

.orderCardDeliveredStatuses {
  background-color: #ffeaa6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  width: fit-content;
  margin: 0px 0px 10px 0px;
}

.orderCardDeliveredStatuses span {
  font-weight: 600;
  font-size: 14px;
  color: #4f585e;
}

.noMedContainer {
  height: 18px;
}

@media screen and (max-width: 768px) {
  .orderCardDates {
    display: none;
  }

  .orderCardMedName span {
    max-width: 50vw;
  }
}

@media screen and (max-width: 468px) {
  .orderCardContainer {
    border: none;
    padding: 16px;
    margin: 0;
  }

  .orderCardStatus {
    width: 100%;
    margin-bottom: 12px;
  }

  .orderCardStatus img {
    display: none;
  }

  .orderCardStatus div {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .orderCardStatus span:nth-child(1) {
    margin: 0;
  }

  .orderCardMedName span {
    margin-bottom: 6px;
    max-width: 70vw;
  }

  .orderCardDeliveredStatuses {
    margin: 0px 0px 8px 0px;
  }

  .orderCardStatus span:nth-child(1) {
    font-size: 14px;
  }

  .orderCardStatus span:nth-child(2) {
    font-size: 12px;
  }

  .orderCardmedNameContainer span {
    font-size: 12px;
  }

  .orderCardmedNameContainer .orderCardAmount {
    font-size: 14px;
  }

  .orderCardmedNameContainer {
    padding: 4px 0px 30px 0px;
  }

  .orderCardPatient {
    background-color: #fff;
    padding: 0;
  }

  .orderCardPatient span {
    font-size: 14px;
  }
}
