.paymentModalWrapper {
  position: fixed;
  z-index: 10500;
  background-color: white;
  width: 100%;
  border: 1px solid #b8b8b8;
  padding: 10px;
  border-radius: 5px;
  bottom: 0;
  /* left: 4%; */
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

.paymentModalBody {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 150px;
}
.paymentModalBody > h6 {
  font-weight: 400;
  text-align: center;
}
.paymentHeader {
  align-items: center;
  text-align: center;
}
.paymentSpan {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  font-weight: 700;
}
#pay1 {
  color: #0071bc;
}
#pay2 {
  color: #1cb976;
}
#rupeeBill {
  color: #0071bc;
  font-weight: bold;
}
.top-right {
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-top: 5px;
  position: absolute;
}
.button-div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.button-div > button {
  display: inline-block;
  font-weight: 600;
  border: 1px #0071bc solid;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s;
}
.pay-btn,
.button-div .pay-btn {
  background-color: #0071bc;
  color: white;
  padding: 10px 40px;
  border-radius: 8px;
  border: #0071bc;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
}
.button-div .pay-btn {
  font-size: 1rem;
  padding-left: 30px;
  padding-right: 30px;
}
.change-payment {
  text-align: center;
  padding: 5px 0;
  font-weight: 600;
  color: #333;
}
@media screen and (min-width: 768px) {
  .paymentModalWrapper {
    position: fixed;
    z-index: 10500;
    background-color: white;
    width: 100%;
    border: 1px solid #b8b8b8;
    padding: 10px;
    border-radius: 5px;
    bottom: 0;
    /* left: 25%; */
    box-sizing: border-box;
    transition: all 0.3s ease-out;
  }

  .paymentModalBody {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  .paymentModalBody > h6 {
    font-weight: 400;
    text-align: center;
  }
}
