.blank-med-loader-doctor-card-container {
  display: flex;
}

.blank-med-loader-doctor-card-wrapper {
  box-sizing: border-box;
  width: 230px;
  height: 239px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.blank-med-loader-card-item-doctor-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.blank-med-loader-card-item-doctor-line-one {
  width: 150px;
  height: 15px;
  border-radius: 5px;
  margin-top: 1rem;
}
.blank-med-loader-card-item-doctor-line-two {
  width: 100px;
  height: 15px;
  border-radius: 5px;
  margin-top: 1rem;
}
