.AddressSection_AddressSectionWrap {
  background: #ffffff;
  border: 1px solid #dfe3e6;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 12px;
}

.AddressSection_addressSectionTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 4px;
  /* identical to box height, or 171% */

  text-transform: capitalize;

  color: #8897a2;
}
.AddressSection_addressValue {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4f585e;
}

.AddressSection_alternateContactWrap {
  display: flex;
  padding: 16px;
  padding-bottom: 0px;
  border-top: 1px solid #dfe3e6;
  margin: 16px -16px 0px -16px;
  justify-content: space-between;
}

.AddressSection_altTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  color: #8897a2;
}

.AddressSection_altValue {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  text-transform: capitalize;
  color: #4f585e;
}

.AddressSection_addressSectionTitleCustom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #8897a2;
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .AddressSection_AddressSectionWrap {
    margin: 0px 15px 12px 15px;
  }
}
