.addAlternateWrap .MuiDialog-paperWidthSm {
  width: 100% !important;
}
.addAlternateWrap .MuiDialog-paper {
  margin: 0 !important;
}
.addAlternateWrap .MuiPaper-rounded {
  border-radius: 10px 10px 0px 0px !important;
  background-color: transparent;
  box-shadow: none;
}
.addAlternateWrap .MuiDialog-scrollPaper {
  align-items: flex-end !important;
}

.dailogueWrap {
  background-color: #fff;
  border-radius: 10px 10px 0px 0px !important;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  position: relative;
  padding: 10px 15px 21px 15px;
}

.dailogueWrap .closeBtn {
  opacity: 0.7;
}

.headerAlternateNumber {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #4f585e;
  margin-bottom: 20px;
}

.snAlternateBtn {
  font-weight: 700;
  font-size: 16px;
  background: #0071bc !important;
}

@media screen and (max-width: 768px) {
  .firstContent input,
  .firstContentError input {
    text-indent: 0.5em;
    width: 100%;
    height: 44px;
    border: 1px solid #0071bc;
    border-radius: 6px;
    caret-color: #0071bc;
    margin-bottom: 42px;
  }

  .firstContent input::placeholder,
  .firstContentError input::placeholder {
    font-weight: 400;
  }

  .firstContentError input {
    border: 1px solid #ff8c8c;
    caret-color: #ff8c8c;
  }

  /*  .firstContentError input::placeholder {
    color: #ff8c8c;
  } */

  .firstContent input::placeholder,
  .firstContentError input::placeholder {
    color: #8897a2;
  }
  .registeredNumberErrorMsg {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #f15959;
    margin-bottom: 15px;
    margin-top: -10px;
  }
  .firstContent,
  .firstContentError {
    position: relative;
  }
  .ctaWrap {
    position: absolute;
    top: 61px;
  }
}
