.doctorCard_cardWrap {
  background: #eaf0ff;
  border-radius: 5px;
  padding: 20px 12px;
  margin: 12px 14px 0px 14px;
}

.doctorCard_cardPanelWrap {
  border-radius: 0px;
  padding: 20px 0px;
  border-bottom: 1px solid #dce4f1;
  margin: 0px 16px;
}
.doctorCard_callWithText {
  color: #4f585e;
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter";
  padding-bottom: 20px;
}

.doctorCard_callWithTextPanel {
  color: #4f585e;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter";
  padding-bottom: 20px;
}

.doctorCard_doctorCard {
  border: 1px solid #c7d0d8;
  border-radius: 5px;
  background: #fff;
  padding: 16px;
}

.doctorCard_doctorName {
  color: #40464d;
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter";
  padding-bottom: 10px;
}

.doctorCard_doctorDesc {
  color: #8897a2;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  padding-bottom: 10px;
  position: relative;
}

.doctorCard_ratingWrap {
  display: flex;
}

.doctorCard_ratingWrap > div {
  margin-right: 5px;
}

.doctorCard_doctorFeedback {
  display: flex;
  margin-top: 10px;
  padding: 0px 15px;
}

.doctorCard_doctorFeedbackPanel {
  display: flex;
  grid-gap: 5px;
  margin-top: 20px;
  align-items: center;
}

.doctorCard_logoWrap {
}

.doctorCard_doctorFeedbackText {
  font-weight: 400;
  font-size: 14px;
  color: #40464d;
  margin-left: 10px;
}

.doctorCard_rateCTAText {
  color: #0071bc;
  font-size: 14px;
  font-weight: 700;
  margin: 0px 5px 0px 12px;
}

.doctorCard_rateCTA {
  display: flex;
  margin-top: 15px;
  cursor: pointer;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .doctorCard_cardWrap {
    margin: 0px;
  }

  .doctorCard_doctorName {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 0px;
  }

  .doctorCard_callWithTextPanel {
    padding-bottom: 14px;
  }

  .doctorCard_doctorCard {
    border-radius: 10px;
  }

  .doctorCard_doctorDesc {
    font-size: 12px;
    padding-bottom: 6px;
  }

  .doctorCard_doctorFeedbackText {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #40464d;
  }

  .doctorCard_ratingWrap img {
    width: 12px;
  }
}
