.EDD_wrap {
  background: #6788da;
  border-radius: 5px;
  padding: 15px 10px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.EDD_wrapFixed {
  background: #6788da;
  border-radius: 0px;
  padding: 15px 16px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: fixed;
  top: 59px;
  width: 100%;
  left: 0;
  z-index: 2;
  height: 55px;
}
.EDD_title {
  font-size: 16px;
  font-weight: 600;
}

.EDD_value {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .EDD_title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  .EDD_value {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .EDD_wrap {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
