.headerWrap_orderHeader {
  padding: 0px 0px 24px 0px;
  border-bottom: 1px solid #b8c1c7;
  margin-bottom: 24px;
}

.contentWrap_orderHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.contentWrap_orderHeader:last-child {
  margin-bottom: 0px;
}

.contentTitle_orderHeader {
  color: #8897a2;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.contentValue_orderHeader {
  color: #4f585e;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter";
}

.weight400_orderHeader {
  font-weight: 400 !important;
}
@media screen and (max-width: 768px) {
  .contentTitle_orderHeader {
    font-size: 12px;
    line-height: 24px;
  }
  .contentValue_orderHeader {
    font-size: 12px;
  }

  .headerWrap_orderHeader {
    padding: 0px 0px 8px 0px;
    margin: 4px 16px 15px 16px;
  }

  .headerOdWrap_orderHeader {
    border-bottom: none;
    margin: 0px 16px 16px 16px;
    padding: 0px;
  }
  .contentWrap_orderHeader {
    margin-bottom: 0px;
  }
}
