.PaymentSection_paymentWrap {
  background: #ffffff;
  border: 1px solid #dfe3e6;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.PaymentSection_spaceBetween {
  justify-content: space-between;
}

.PaymentSection_paymentTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  color: #8897a2;
}

.PaymentSection_paymentValue {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #4f585e;
  text-transform: capitalize;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .PaymentSection_paymentWrap {
    margin: 0px 15px 24px 15px;
  }
}
