.SavingsCard_savingsWrap {
  margin-bottom: 24px;
  padding: 0px 14px;
}

.SavingsCard_odSavingsWrap {
  background: #fff !important;
  padding-bottom: 0px !important;
}
.SavingsCard_subsSaving,
.SavingsCard_subsSavingDown {
  background: #41a45c;
  color: #fff;
  padding: 12px 8px;
  display: flex;
}

.SavingsCard_subsSavingText {
  font-size: 14px;
  font-weight: 400;
  margin-left: 8px;
}

.SavingsCard_subsSavingText b {
  font-size: 16px;
}

.SavingsCard_totalSavings,
.SavingsCard_totalSavingsUp,
.SavingsCard_totalSavingsOnly {
  padding: 12px 8px;
  color: #41a45c;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 600;
  border: 1px solid #41a45c;
  background-color: #fff;
}

.SavingsCard_totalSavingsOnly {
  border-radius: 8px;
}

.SavingsCard_totalSavings,
.SavingsCard_subsSavingDown {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.SavingsCard_totalSavingsUp,
.SavingsCard_subsSaving {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.SavingsCard_totalSavingsCost {
  font-size: 16px;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .SavingsCard_savingsWrap {
    background: #ecf2ff;
    margin: 0px -15px 0px -15px;
    padding: 0px 15px 15px 15px;
  }

  .SavingsCard_odSavingsWrap {
    background: #fff !important;
    padding-bottom: 0px !important;
    margin: 0px 0px 24px 0px;
  }
}
