.StatusMsg_Wrapper {
  background: #ecf2ff;
  border-radius: 5px;
  padding: 32px 12px;
  display: flex;
  margin-bottom: 24px;
}

.StatusMsg_redBg {
  background: #ffe2e0 !important;
}

.StatusMsg_imgWrap {
  width: 30px;
}
.StatusMsg_imgWrap img {
  width: 100%;
}
.StatusMsg_textWrap {
  color: #40464d;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.StatusMsg_redBg .StatusMsg_textWrap {
  color: #de4f45 !important;
}

@media screen and (max-width: 768px) {
  .StatusMsg_textWrap {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #40464d;
  }

  .StatusMsg_Wrapper {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
    padding: 22px 12px;
  }
}
