* {
  scroll-behavior: smooth;
}

.orderSummaryMedcinesAddedContainer {
  display: flex;
  align-items: center;
  border: none;
}

.orderSummaryMedcinesAddedContainer p {
  font-size: 16px;
  font-weight: 700;
  padding: 0px;
  margin: 20px 10px 10px 0px;
  color: #40464d;
  font-family: "Inter";
}

@media screen and (max-width: 468px) {
  .orderSummaryMedcinesAddedContainer p {
    margin: 10px 10px 10px 0px;
  }
}

.orderSummaryMedcinesAddedContainer div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.orderSummaryMedcinesAddedContainer i {
  color: #0071bc;
  margin-right: 5px;
}

.orderSummaryMedcinesAddedContainer span {
  font-size: 14px;
  font-weight: 600;
  color: #0071bc;
}

.orderSummaryImagesContainer {
  border: none;
  border-radius: 4px;
  padding: 15px 0px;
  margin-bottom: 20px;
  max-width: 55vw;
  display: flex;
  gap: 15px;
}

.orderSummaryDeliveryToContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.orderSummaryDeliveryToContainer p {
  color: #333;
  font-weight: 600;
  font-size: 16px;
  margin: 0px 10px 0px 0px;
  padding: 0;
}

.orderSummaryDeliveryToContainer span {
  font-size: 14px;
  font-weight: 400;
  color: #22b573;
}

.orderSummaryButtonsMainContainer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 10px;
  gap: 10px;
}

.orderSummaryPrescriptionRemoveImage {
  position: absolute;
  margin-top: -10px;
  right: -10px;
  cursor: pointer;
  z-index: 1;
}

.orderSummaryCustomerDetailsContainer {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 0px;
}

.orderSummaryCustomerDetailsContainer div {
  padding: 0px 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.orderSummaryCustomerDetailsContainer div img {
  width: 15px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 15px 0px 0px;
  cursor: pointer;
}

.orderSummaryCustomerDetailsContainer div:first-child {
  border-right: 1px solid rgba(0, 113, 188, 0.2);
}

.orderSummaryCustomerDetailsContainer div p {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  width: 90%;
}

.orderSummaryCustomerDetailsContainer div span {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  width: 90%;
}

.orderSummaryMedicinesDisplayContainer {
  margin-bottom: 30px;
}

.orderSummarymedicineAddedLoader {
  width: 35%;
  height: 25px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.orderSummaryPrescriptionCardLoader {
  width: 100%;
  height: 80px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.orderSummaryOrderId {
  color: #40464d;
  font-weight: 700;
  font-size: 16px;
  font-family: "Inter";
  padding: 10px 0px 0px 0px;
}

.addMorePrescriptionText {
  padding: 0px 10px;
}

@media screen and (max-width: 768px) {
  .mobPrescriptionWrap .MuiAccordionSummary-root {
    height: 64px;
  }
  .orderSummaryOrderId {
    color: #40464d;
    font-weight: 700;
    font-size: 16px;
    font-family: "Inter";
    padding: 10px 0px 0px 15px;
  }
}

.addMorePrescriptionWrap {
  width: 100px;
  text-align: center;
  font-size: 12px;
  color: #016eb9;
  font-weight: 600;
  font-family: "Inter";
  line-height: 18px;
  cursor: pointer;
  margin-right: 0px;
}

.addMorePrescriptionCard {
  border: 1px solid #e1e8eb;
  border-radius: 10px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.medicineDetailsWrap {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .medicineDetailsWrap {
    margin-bottom: 0px;
  }

  .orderSummaryMedcinesAddedContainer {
    padding-bottom: 10px;
    margin: 0px 1.5rem 20px 1.5rem;
  }

  .orderSummaryMedcinesAddedContainer p {
    font-size: 18px;
  }

  .orderSummaryMedcinesAddedContainer span {
    font-size: 14px;
  }

  .orderSummaryButtonsMainContainer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    padding: 5px;
    background-color: #fff;
  }

  .orderSummaryImagesContainer {
    margin: 0px 1.5rem 20px 1.5rem;
    max-width: 100%;
  }

  .orderSummaryDeliveryToContainer {
    margin: 0px 1.5rem 10px 1.5rem;
  }

  .orderSummaryCustomerDetailsContainer {
    margin: 0px 1.5rem 20px 1.5rem;
  }

  .orderSummaryMedicinesDisplayContainer {
    margin: 0px 1.5rem 20px 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .orderSummaryMedcinesAddedContainer {
    padding-bottom: 0px;
    margin: 0px 15px;
  }

  .orderSummaryMedcinesAddedContainer p {
    font-size: 15px;
  }

  .orderSummaryMedcinesAddedContainer span {
    font-size: 13px;
  }

  .orderSummaryImagesContainer {
    margin: 0px 1.5rem 20px 1.5rem;
    max-width: 100%;
  }

  .orderSummaryDeliveryToContainer {
    margin: 0px 1.5rem 10px 1.5rem;
  }

  .orderSummaryDeliveryToContainer p {
    font-size: 14px;
  }

  .orderSummaryDeliveryToContainer span {
    font-size: 12px;
  }

  .orderSummaryButtonsMainContainer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    padding: 5px 1rem;
    gap: 10px;
    background-color: #fff;
  }

  .orderSummaryDeliveryToContainer {
    margin: 0px 1.5rem 10px 1.5rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .orderSummaryCustomerDetailsContainer {
    margin: 0px 1.5rem 20px 1.5rem;
    flex-direction: column;
    padding: 10px 15px;
  }

  .orderSummaryCustomerDetailsContainer div {
    width: 100%;
    justify-content: flex-start;
  }

  .orderSummaryCustomerDetailsContainer div:nth-child(1) {
    border: none;
    border-bottom: 1px solid rgba(0, 113, 188, 0.2);
    padding-bottom: 10px;
  }

  .orderSummaryCustomerDetailsContainer div:nth-child(2) {
    padding-top: 10px;
  }

  .orderSummaryCustomerDetailsContainer div img {
    margin: 10px 5px 0px 0px;
  }

  .orderSummaryCustomerDetailsContainer div p {
    font-size: 14px;
  }

  .orderSummaryCustomerDetailsContainer div span {
    font-size: 14px;
  }

  .orderSummaryMedicinesDisplayContainer {
    margin: 0px 1.5rem 20px 1.5rem;
  }

  .mobPrescriptionWrap {
    border: none;
    border-radius: 0px;
    padding: 0px 10px 0px 0px;
    margin-bottom: 0px;
    margin-left: -5px;
  }

  .mobPrescriptionWrap .MuiAccordionSummary-root.Mui-expanded {
    min-height: 44px;
    /* height: 44px; */
  }
}
