.couponModalCloseIcon {
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 5px 5px 0px 0px;
}

.applyCouponTitle {
  color: #333;
  padding: 16px;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.couponInputContainer {
  padding: 20px 40px;
  background-color: #e5f1f8;
  margin-bottom: 10px;
}

.couponInputContainer p {
  margin: 8px 0px 0px 0px;
  padding: 0;
  color: #e74c3c;
  font-size: 13px;
  font-weight: 500;
}

.couponInput .MuiOutlinedInput-input,
.couponErrorInput .MuiOutlinedInput-input {
  max-width: 74%;
}

.MuiDialog-paperFullWidth {
  padding: 0 !important;
}

.couponInput .MuiOutlinedInput-notchedOutline {
  border: 1px solid #0071bc !important;
}

.couponErrorInput .MuiOutlinedInput-notchedOutline {
  border: 1px solid #e74c3c !important;
}

.couponInput .MuiFormLabel-root.Mui-focused {
  color: #0071bc !important;
}

.couponErrorInput .MuiFormLabel-root.Mui-focused {
  color: #e74c3c !important;
}

.MuiFormLabel-root.Mui-error {
  color: #e74c3c !important;
}

.applyButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 17px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.applyButtonContainer span {
  color: #0071bc;
  font-weight: 700;
  font-size: 14px;
}

.couponContainer {
  margin: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.couponFirstMainContainer {
  width: 85%;
}

.couponFirstContainer {
  margin-bottom: 10px;
}

.couponFirstInsideContainer {
  display: flex;
  align-items: center;
}

.couponFirstInsideContainer div {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.couponFirstInsideContainer div:nth-child(1) {
  border-radius: 20px 0px 0px 20px;
  border: 1px solid #999;
}

.couponFirstInsideContainer div:nth-child(2) {
  border-radius: 0px 20px 20px 0px;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.couponFirstInsideContainer div img {
  width: 5rem;
}

.couponFirstInsideContainer div span {
  font-size: 14px;
  font-weight: 700;
  color: #30b94f;
}

.couponFirstContainerApplyButton {
  color: #0071bc;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.couponSecondContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.couponSecondContainer span:nth-child(1) {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

.couponSecondContainer span:nth-child(2),
.couponSecondContainer span:nth-child(3) {
  color: #999;
  font-size: 12px;
  font-weight: 500;
}

.couponSecondContainer span:nth-child(3) {
  margin-top: 2px;
}

.couponNotAvailable {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 5px 0px 15px 0px;
}

.collapse-Panel .ant-collapse-header {
  padding: 0px !important;
  font-size: 0.875rem;
  color: #0071bc !important;
}
.textWrapTnc {
  color: #999;
  font-size: 12px;
  margin: -16px !important;
  margin-bottom: 15px;
  padding-top: 5px;
}

.collapse-Panel .ant-collapse-header .ant-collapse-arrow {
  position: absolute;
  top: 50%;
  right: auto !important;
  left: 125px !important;
  margin: 0;
  transform: translateY(-50%);
}

.collapse-Panel .ant-collapse-header span {
  color: #0071bc !important;
}

@media screen and (max-width: 480px) {
  .textWrapTnc {
    color: #999;
    font-size: 12px;
    margin: -16px !important;
    margin-bottom: 15px;
    padding-top: 5px;
  }

  .couponModalMainContainer .MuiDialog-paper::-webkit-scrollbar {
    display: none;
  }

  .applyCouponTitle {
    padding: 12px;
    font-size: 1rem;
  }

  .couponInputContainer {
    padding: 15px;
    margin-bottom: 8px;
  }

  .couponInputContainer p {
    margin: 5px 0px 0px 0px;
    font-size: 11px;
  }

  .applyButtonContainer {
    bottom: 0;
    right: 0;
    padding: 19px 10px;
  }

  .applyButtonContainer span {
    font-size: 12px;
  }

  .couponModalMainContainer .MuiDialog-paperFullWidth {
    padding: 0 !important;
    margin: 0 !important;
    width: 100vw !important;
    position: absolute !important;
    bottom: 0 !important;
    max-height: 75vh !important;
    border-radius: 15px 15px 0px 0px !important;
  }

  .couponContainer {
    margin: 8px 15px;
  }

  .couponFirstMainContainer {
    width: 80%;
  }

  .couponFirstContainer {
    margin-bottom: 5px;
  }

  .couponFirstInsideContainer div {
    height: 2rem;
    padding: 0px 5px;
  }

  .couponFirstInsideContainer div img {
    width: 4rem;
  }

  .couponFirstInsideContainer div span {
    font-size: 12px;
  }

  .couponFirstContainerApplyButton {
    font-size: 12px;
  }

  .couponSecondContainer {
    margin-bottom: 8px;
  }

  .couponSecondContainer span:nth-child(1) {
    font-size: 13px;
    margin-bottom: 3px;
  }

  .couponSecondContainer span:nth-child(2),
  .couponSecondContainer span:nth-child(3) {
    font-size: 10px;
  }

  .couponSecondContainer span:nth-child(3) {
    margin-top: 1px;
  }

  .couponNotAvailable {
    font-size: 12px;
  }
}
