.faqMainContainer .MuiSvgIcon-root {
  color: #0071bc;
}

.faqMainContainer .MuiPaper-elevation1 {
  box-shadow: none !important;
  border-bottom: 0.5px solid #c9c7c7 !important;
}

.MuiAccordionSummary-root {
  padding: 0 5px !important;
}

.MuiAccordion-root:before {
  background-color: transparent !important;
}
.faq-list-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}
