.orderDetails_warningWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orderDetails_title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.orderDetails_linkBtn {
  padding: 0 !important;
  height: 21px !important;
  display: flex !important;
}

.orderDetails_linkBtn span {
  color: var(--accent);
  font-weight: 700;
  font-size: 14px;
}
.orderDetails_warnAlertOD {
  background: #fff0df !important;
  border: 1px solid #ffa132 !important;
  margin: -32px 0 24px 0 !important;
  border-radius: 4px !important;
  padding: 16px 14px 16px 12px !important;
}
.orderDetails_warnAlert {
  background: #fff0df !important;
  border: 1px solid #ffa132 !important;
  margin: 14px 0 !important;
  border-radius: 4px !important;
  padding: 16px 14px 16px 12px !important;
}

@media screen and (max-width: 768px) {
  .orderDetails_warningWrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .orderDetails_linkBtn {
    padding: 0 !important;
    height: 18px !important;
  }

  .orderDetails_linkBtn span {
    color: var(--accent);
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }

  .orderDetails_warnAlert {
    align-items: flex-start !important;
  }

  .orderDetails_warnAlertOD {
    margin: 0px 16px 24px 16px !important;
    align-items: flex-start !important;
    padding: 12px 12px 12px 12px !important;
  }

  .orderDetails_warnAlert img {
    margin-top: 0orderDetails_5em;
  }

  .orderDetails_warnAlertOD img {
    margin-top: 2px;
  }
  .orderDetails_cancelTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4f585e;
    padding: 25px 15px;
  }

  .orderDetails_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 8px;
  }

  .orderDetails_rightContainerInner {
    position: relative;
    top: 0;
  }
}
