.orderDetails_returnWrap {
}

.orderDetails_returnContainerWrap {
  margin-top: 0px;
  margin-bottom: 17px;
}

.orderDetails_returnTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0071bd;
  cursor: pointer;
}

.orderDetails_subText {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #a9afb4;
  margin-top: 0px;
}

.orderDetails_canReasonWrap {
  display: flex;
}

.orderDetails_canReasonTitle {
  margin-right: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8897a2;
}

.orderDetails_canReasonValue {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #8897a2;
}

.orderDetails_reorderContainerWrap {
  display: flex;
  flex-direction: column;
  margin: 0px 14px;
}

.orderDetails_reorderWindowWrap {
  margin-top: 22px;
  background-color: #eaf0ff;
  border: 1px solid #b6cbff;
  border-radius: 6px;
  padding: 16px;
}

.orderDetails_reorderWindowWrap span {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.orderDetails_returnButtonWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderDetails_returnButtonWrap span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #4f585e;
}

@media screen and (max-width: 768px) {
  .orderDetails_returnContainerWrap {
    margin-top: 0px;
    margin-bottom: 32px;
    padding: 0 16px;
  }

  .orderDetails_canReasonTitle {
    font-size: 12px;
  }

  .orderDetails_canReasonValue {
    font-size: 12px;
  }

  .orderDetails_subText {
    font-size: 12px;
  }

  .orderDetails_fixedReorder {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: #fff;
    box-shadow: 0px -3px 12px rgb(0 0 0 / 12%);
  }

  .orderDetails_fixedReorder button {
    margin-top: 0px;
  }

  .orderDetails_dummyHeight {
    height: 72px;
  }

  .orderDetails_reorderContainerWrap {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 16px;
    box-shadow: 0px -3px 12px rgba(0, 0, 0, 0orderDetails_12);
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }

  .orderDetails_reorderWindowWrap {
    display: none;
  }

  .orderDetails_returnButtonWrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 64px;
  }

  .orderDetails_returnButtonWrap span {
    font-size: 14px;
  }

  .orderDetails_returnTitle {
    font-size: 14px;
    margin-bottom: 12px;
  }
}
