.orderDetails_statusCardWrap {
  padding: 16px;
  border-radius: 4px;
  background-color: #41a45c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.orderDetails_cancelledWrap {
  background-color: #fc7578 !important;
}

.orderDetails_statusWrapLeft {
  display: flex;
  align-items: center;
}

.orderDetails_Icon {
  margin-right: 17.33px;
}

.orderDetails_statusTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.orderDetails_dateWrap {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .orderDetails_statusCardWrap {
    padding: 12px 16px 8px 16px;
    border-radius: 0px;
    background-color: #41a45c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .orderDetails_Icon {
    margin-right: 9px;
  }
  .orderDetails_Icon img {
    width: 24px;
  }

  .orderDetails_statusTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }

  .orderDetails_dateWrap {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}
