.Shimmer-shimmer-1-1-1 {
  background-size: 800px auto !important;
}
.blank-med-loader-card-container {
  display: flex;
}

.blank-med-loader-card-from-article-wrapper {
  width: 250px;
  height: 350px;
  margin: 0 10px 10px 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-flow: column;
}

.blank-med-loader-card-from-article-image {
  width: 100%;
  height: 174px;
}

.blank-med-loader-card-from-article-line {
  margin: 10px 0px;
  width: 150px;
  height: 15px;
  border-radius: 5px;
}

.blank-med-loader-card-from-article-line-wrapper {
  padding: 10px;
  display: flex;
  flex-flow: column;
}

@media screen and (max-width: 468px) {
  .blank-med-loader-card-from-article-wrapper {
    width: 200px;
    height: 270px;
  }
}

.blank-med-loader-card-from-article-author {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
