.cartSubsMainContainer {
  padding: 7px 1rem;
  position: relative;
  margin-top: 5px;
  background: #edf6f3;
  border-radius: 5px;
}

.medCard_hr {
  display: none;
}

.cartSubsMainContainer .MuiSvgIcon-root {
  color: #0071bc;
}

.cartSubsMainContainer .MuiPaper-elevation1 {
  box-shadow: none;
}

.cartSubsMainContainer .MuiAccordion-root {
  position: initial;
}

.cartSubsMainContainer .MuiAccordion-root:before {
  background-color: transparent;
}

.cartSubsMainContainer .MuiAccordionSummary-root.Mui-expanded {
  min-height: 0px;
}

.accordianHeaderHeight {
  min-height: 0px !important;
  z-index: 1;
}
.cartSubsMainContainer .MuiAccordionDetails-root {
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.cartSubsMainContainer .MuiAccordion-root.Mui-expanded {
  margin: 0px;
}

.cartSubsRecommendation {
  display: flex;
  color: #fff;
  border-top: 45px solid #41a45c;
  border-right: 20px solid transparent;
  position: absolute;
  left: 0;
  width: 53%;
  top: 6px;
  z-index: 1;
}

.medItem {
  border-bottom: 2px solid #dce4f1;
}

.medItem:last-child {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .medItem {
    border-bottom: none;
  }

  .medItem:last-child {
    border-bottom: none;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 1024px) {
  .cartSubsRecommendation {
    width: 55%;
  }
}

.cartSubsImgWrap {
  display: flex;
  align-items: center;
}
.cartSubsRecommendation__wrap {
  position: absolute;
  top: -44px;
  z-index: 1;
  display: flex;
  font-size: 12px;
  padding: 4px 15px;
  gap: 10px;
}

.savingsSubs {
  font-weight: 700;
}

.savingsSubsTitle {
  font-weight: 300;
}

.cartSubMedCardWrap {
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .cartSubMedCardWrap {
    padding-left: 20px;
  }

  .cartSubsRecommendation {
    display: flex;
    color: #fff;
    border-top: 45px solid #41a45c;
    border-right: 10px solid transparent;
    position: absolute;
    left: 0;
    width: 48%;
    top: 6px;
    z-index: 1;
  }
  .cartSubsRecommendation__wrap {
    position: absolute;
    top: -44px;
    z-index: 1;
    display: flex;
    font-size: 12px;
    padding: 4px 0px 4px 10px;
    grid-gap: 10px;
    gap: 7px;
  }
  .medCard_hr {
    display: block;
    height: 8px;
    margin: 0px;
    background: #e3e6ec;
    box-shadow: 0px 1px 4px 0px #ccc inset;
  }
}

@media screen and (max-width: 468px) {
  .cartSubsMainContainer .MuiAccordionSummary-root {
    padding: 0 5px !important;
  }
  .cartSubMedCardWrap {
    padding-left: 25px;
  }
  .cartSubsMainContainer .MuiPaper-root.MuiAccordion-root.MuiPaper-elevation1 {
    padding-bottom: 10px !important;
  }

  .cartSubsMainContainer
    .MuiPaper-root.MuiAccordion-root.Mui-expanded.MuiPaper-elevation1 {
    padding-bottom: 0px !important;
  }
  .cartDetailsMainContainer {
    padding: 0px;
    margin-bottom: 0px;
  }
  .cartSubsMainContainer {
    padding: 7px 5px;
  }
  .cartSubsMainContainer .MuiAccordionDetails-root {
    flex-direction: column;
    padding: 5px 1rem;
    align-items: flex-start;
    justify-content: center;
  }
  .cartSubMrpContainer {
    flex-direction: row;
    gap: 0.5rem;
    margin: 1rem 0px 0.5rem 2.5rem;
  }
  .cartItemsAddedLoader {
    margin: 0px 10px 5px 10px;
  }
  .cartSubsRecommendation {
    display: flex;
    color: #fff;
    border-top: 45px solid #41a45c;
    border-right: 10px solid transparent;
    position: absolute;
    left: 0;
    width: 85%;
    top: 6px;
    z-index: 1;
  }
  .cartSubsRecommendation__wrap {
    position: absolute;
    top: -44px;
    z-index: 1;
    display: flex;
    font-size: 12px;
    padding: 4px 0px 4px 10px;
    grid-gap: 10px;
    gap: 7px;
  }

  .medCard_hr {
    display: block;
    height: 8px;
    margin: 0px;
    background: #e3e6ec;
    box-shadow: 0px 1px 4px 0px #ccc inset;
  }
}
